@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  body-view,
  navigation-stack,
  navigation-split-view,
  dialog[is='full-screen'],
  dialog[is='sheet-view'] {
    position: relative;

    grid-auto-flow: column;

    grid-template-columns: minmax(0, 1fr); //repeat(auto-fit, minmax(0, 1fr));
    grid-template-rows: minmax(0, 1fr);

    & > *:not([slot]) {
      @include mixins.span-all;
    }
  }

  navigation-stack:has(> navigation-stack:not([hidden])),
  navigation-stack:has(> body-view),
  navigation-split-view:has(> body-view),
  dialog:has(> body-view),
  // body-view:has(> dialog),
  body-view:has(> body-view) {
    & > scroll-view,
    & > [is='sidebar-view'] > scroll-view {
      transform: translateX(var(--view-transition-leading-x));
    }

    & > navigation-bar > tool-bar-item,
    & > bottom-bar > tool-bar-item,
    & > navigation-bar > tool-bar-item-group,
    & > bottom-bar > tool-bar-item-group,
    & > [is='sidebar-view'] > navigation-bar > tool-bar-item,
    & > [is='sidebar-view'] > bottom-bar > tool-bar-item,
    & > [is='sidebar-view'] > navigation-bar > tool-bar-item-group,
    & > [is='sidebar-view'] > bottom-bar > tool-bar-item-group {
      // transform: scale(var(--view-transition-toolbar-cell-offscreen-scale));
      @include mixins.vt-toolbar-item-offscreen-keyframe;
    }
  }
}
