@use '../vars';
@use '../functions';

@layer #{vars.$base-layer}, #{vars.$components-layer}, #{vars.$ui-layer}, #{vars.$actions-layer}, #{vars.$transitions-layer}, #{vars.$final-layer};

@layer #{vars.$base-layer} {
  // html,
  // body {
  //   overflow: auto;
  // }

  :root {
    interpolate-size: allow-keywords;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }


  // dialog {
  //   margin: 0;
  // }

  body {
    background-color: var(--primary-bg);
  }

  body {
    display: grid;

    position: absolute;
    inset: 0;

    margin: 0;
    padding: 0;

    touch-action: none !important;
  }

  $CONFIG: (
    vt-fwd-class-name: vars.$vt-fwd-class-name,
  );

  @debug functions.map-to-query($CONFIG);

  html::before {
    content: '#{functions.map-to-query($CONFIG)}';
    display: none;
  }
}
