@use '../vars';

@layer #{vars.$components-layer} {
  :root {
    // --ipad-bp: #{vars.$ipad-portrait-bp};

    // --edge-inset-inline-start: 10px;
    // --edge-inset-inline-end: 10px;
    // --edge-inset-block-start: 10px;
    // --edge-inset-block-end: 10px;

    // tabview adds extra to these
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-right: env(safe-area-inset-right);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-left: env(safe-area-inset-left);

    --tool-bar-height: 4rem;

    --tab-bar-iphone-max-width: 90svw;
    --tab-bar-iphone-height: var(--tool-bar-height);
    --tab-bar-iphone-border-radius: 9999px;

    --tab-bar-ipad-width: 21rem;
    --tab-bar-ipad-height: 3rem;
    --tab-bar-ipad-border-radius: 9999px;

    --tab-bar-sidebar-width: 20rem;
    --tab-bar-sidebar-border-radius: 1rem;
    --tab-bar-sidebar-spacing: 1rem;

    --navigation-bar-height: 4rem;

    --nav-split-view-sidebar-width: 20rem;
    --nav-split-view-content-width: 25rem;

    --primary-bg: aliceblue;
    --secondary-bg: burlywood;

    --view-transition-leading-x: -50%;
    --view-transition-principal-x: 0%;
    --view-transition-trailing-x: 100%;

    --view-transition-toolbar-cell-onscreen-scale: 1;
    --view-transition-toolbar-cell-offscreen-scale: 0;

    --view-transition-dialog-onscreen-y: 0lvh;
    --view-transition-dialog-onscreen-backdrop-bg: rgb(0 0 0 / 25%);
    --view-transition-dialog-offscreen-y: 100lvh;

    --view-transition-duration: 500ms;
    // --view-transition-duration: 5s;

    --pill-border-radius: 99999px;

    --toolbar-col-gap: 0.6rem;
    --toolbar-cell-bg: white;
    --toolbar-cell-inline-padding: 0.3rem;
    --toolbar-cell-block-padding: 0.3rem;
    --toolbar-cell-border-radius: var(--pill-border-radius);

    --toolbar-cell-focus-bg: lightpink;
    --toolbar-cell-active-bg: gray;
  }
}
