@use '../vars';
@use '../mixins';

@layer #{vars.$colors-layer} {
  :root {
    --canvas: light-dark(oklch(var(--primary-bg)), oklch(var(--primary-bg-dark)));

    --canvastext: light-dark(oklch(var(--primary-label)), oklch(var(--primary-label-dark)));

    // ANCHOR: level 0
    --face: light-dark(oklch(var(--primary-bg)), oklch(var(--primary-bg-dark)));
    --groupedface: light-dark(oklch(var(--primary-grouped-bg)), oklch(var(--primary-grouped-bg-dark)));

    --text: light-dark(oklch(var(--primary-label)), oklch(var(--primary-label-dark)));
  }

  // :where(navigation-stack, navigation-split-view) {
  //   --canvas: light-dark(oklch(var(--primary-bg)), var(--primary-bg-dark));
  //   --canvastext: light-dark(var(--primary-label), var(--primary-label-dark));
  // }

  :where([is='sheet-view'], [is='full-screen']) {
    // ANCHOR: level 1
    --face: light-dark(oklch(var(--secondary-bg)), oklch(var(--secondary-bg-dark)));

    --text: light-dark(oklch(var(--secondary-text)), oklch(var(--secondary-text-dark)));
  }

  :where(navigation-split-view > [is='sidebar-view']) {
    // --canvas: light-dark(oklch(var(--primary-bg)), var(--primary-bg-dark));
    // --canvastext: light-dark(var(--primary-label), var(--primary-label-dark));

    @include mixins.if-2col-split-view-fits {
      --face: light-dark(oklch(var(--sidebar-bg-lch) / var(--sidebar-bg-alpha)), oklch(var(--sidebar-bg-lch-dark) / var(--sidebar-bg-alpha-dark)));

      --text: light-dark(oklch(var(--secondary-text)), oklch(var(--secondary-text-dark)));
    }
  }

  tab-view > [is='sidebar-view'] {
    :where(&) {
      --face: light-dark(oklch(var(--sidebar-bg-lch) / var(--sidebar-bg-alpha)), oklch(var(--sidebar-bg-lch-dark) / var(--sidebar-bg-alpha-dark)));
      --text: light-dark(oklch(var(--secondary-text)), oklch(var(--secondary-text-dark)));
    }

    :where(& [is='tab-item'][aria-selected='true']) {
      --componenttext: blue;
      --componenthighlighttext: blue;
      --componentactivetext: blue;
    }
  }

  :where([is='tab-bar']) {
    --componenttext: light-dark(oklch(var(--secondary-text)), oklch(var(--secondary-text-dark)));
  }

  :where(tool-bar-item, tool-bar-item-group, navigation-split-view sidebar-toggle) {
    //, list-view) {
    //, [is='form-view'] BREAKS sidebar
    --componentface: light-dark(oklch(var(--toolbar-cell-bg)), oklch(var(--toolbar-cell-bg-dark)));
    --componenthighlightface: light-dark(oklch(var(--toolbar-cell-focus-bg)), oklch(var(--toolbar-cell-focus-bg-dark)));
    --componentactiveface: light-dark(oklch(var(--toolbar-cell-active-bg)), oklch(var(--toolbar-cell-active-bg-dark)));
    // --componenttext: light-dark(var(--primary-label), var(--primary-label-dark)); //light-dark(oklch(var(--tint-lch) / 1), oklch(var(--tint-lch-dark) / 1));

    @media (pointer: fine) {
      --componentface: light-dark(oklch(var(--toolbar-cell-bg)), oklch(var(--toolbar-cell-bg-dark)));
      --componenthighlightface: light-dark(oklch(var(--toolbar-cell-focus-bg)), oklch(var(--toolbar-cell-focus-bg-dark)));
      --componentactiveface: light-dark(oklch(var(--toolbar-cell-active-bg)), oklch(var(--toolbar-cell-active-bg-dark)));
      // --componenttext: light-dark(var(--primary-label), var(--primary-label-dark));
    }
  }

  list-view {
    :where(&) {
      // --componentface: ;
      --componenthighlightface: magenta;
      --componentactiveface: brown;
      --componenthighlighttext: yellow;
      --componentactivetext: chocolate;
    }

    :where(& [aria-selected='true']) {
      --componentface: light-dark(oklch(var(--tint-lch) / 1), oklch(var(--tint-lch-dark) / 1));
      --componenthighlightface: light-dark(oklch(var(--tint-lch) / 1), oklch(var(--tint-lch-dark) / 1));
      --componentactiveface: light-dark(oklch(var(--tint-lch) / 1), oklch(var(--tint-lch-dark) / 1));
    }
  }

  [is='tab-bar'] [is='tab-item'] {
    :where(&) {
      --componenthighlighttext: yellow;
      --componentactivetext: chocolate;
    }
  }

  sidebar-toggle,
  // tool-bar-item,
  // [is='tab-item'],
  // list-view > button,
  menu-view,
  [is='disclosure-group'] {
    :where(&) {
      --componenthighlightface: light-dark(oklch(var(--toolbar-cell-focus-bg)), oklch(var(--toolbar-cell-focus-bg-dark)));
      --componentactiveface: light-dark(oklch(var(--toolbar-cell-active-bg)), oklch(var(--toolbar-cell-active-bg-dark)));
    }
  }
}
