@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  [is='alert-dialog'] {
    :where(&) {
      @include mixins.reset-dialog;

      @include mixins.make-backdrop-transitionable;

      color: var(--text,);

      touch-action: none;

      position: fixed;

      inline-size: fit-content;
      block-size: fit-content;
      height: auto; // safari
      max-inline-size: min(20rem, 80vw);
      max-block-size: 80vh;

      margin-block: auto;
      margin-inline: auto;

      transform: var(--alert--dialog-scale,);
      opacity: var(--alert--dialog-opacity,);

      place-self: center;

      overflow: clip;
      border-radius: 0.9rem;

      backdrop-filter: var(--liquid-glass-backdrop-filter,);
      box-shadow: var(--menu-popover-box-shadow,); //0 0 10px 10px black;

      padding-block: 1rem;
      padding-inline: 1rem;
      gap: 1rem;

      // finally
      --alert--dialog-scale: scale(1.2);
      --alert--dialog-opacity: 0.8;
    }

    &[open] {
      :where(&) {
        @include mixins.add-dialog-backdrop-transition-frames(var(--view-transition-dialog-onscreen-backdrop-bg));

        --alert--dialog-scale: scale(1);
        --alert--dialog-opacity: 1;

        @starting-style {
          --alert--dialog-scale: scale(1.2);
          --alert--dialog-opacity: 0.8;
        }
      }
    }

    &[closing] {
      :where(&) {
        @include mixins.add-dialog-backdrop-transition-frames(var(--clear));

        --alert--dialog-scale: scale(0.98);
        --alert--dialog-opacity: 0;
      }
    }

    // SECTION: componentize
    // > button {
    //   :where(&) {
    // @include mixins.componentize(dialogbtn);
    //   }
    // }

    // :where(&) {
    //   --dialogbtnpadistart: 0.6rem;
    //   --dialogbtnpadiend: 0.6rem;
    //   --dialogbtnpadbstart: 0.6rem;
    //   --dialogbtnpadbend: 0.6rem;
    //   --dialogbtnradiustl: 1rem;
    //   --dialogbtnradiustr: 1rem;
    //   --dialogbtnradiusbl: 1rem;
    //   --dialogbtnradiusbr: 1rem;
    // }
  }
}

// @layer #{vars.$colors-layer} {
//   // SECTION: componentize
//   [is='alert-dialog'] {
//     > button {
//       @include mixins.add-focus-visible-state {
//         --dialogbtnface: var(--dialogbtnhighlightface,);
//         --dialogbtntext: var(--dialogbtnhighlighttext,);
//       }
//     }
//   }
// }

// @layer #{vars.$ui-layer} {
//   // SECTION: componentize
//   [is='alert-dialog'] {
//     > button {
//       @include mixins.add-active-state {
//         --dialogbtnface: var(--dialogbtnactiveface,);
//         --dialogbtntext: var(--dialogbtnactivetext,);
//       }
//     }
//   }
// }
