@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  // body-view {
  //   :where(&) {
  //   }
  // }

  detail[is='tooltip'] {
    :where(&, & > summary) {
      display: grid;
      grid-template-columns: subgrid; // inherits columns from container
      grid-template-rows: subgrid; // inherits rows if needed
    }
  }
}
