@use '../vars';
@use '../placeholders';

@layer #{vars.$components-layer} {
  [is='bordered-prominent-button'] {
    :where(&) {
      @extend %button;
    }

    :where(&[role='destructive']) {
      --accentColor: var(--red);
      --accentColor2: var(--red2);
      --accentColor3: var(--red3);
      --accentColor4: var(--red4);
      --accentColor5: var(--red5);
    }
  }
}
