@use '../vars';
@use '../placeholders';

@layer #{vars.$components-layer} {
  [is='bordered-button'] {
    @extend %button;

    :where(&) {
      @media (pointer: fine) {
        --accentColor: var(--primary);
      }
    }

    :where(&[role='destructive']) {
      --accentColor: var(--red);
      --accentColor2: var(--red2);
      --accentColor3: var(--red3);
      --accentColor4: var(--red4);
      --accentColor5: var(--red5);
    }
  }
}

@layer #{vars.$utils-layer} {
  [is='bordered-button'] {
    :where(&) {
      text-align: center;
    }
  }
}
