@use '../vars';
@use '../mixins';
@use '../placeholders';

@layer #{vars.$components-layer} {
  [is='borderless-button'] {
    @extend %button;

    :where(&) {
      --btnpadistart: 0.1rem;
      --btnpadiend: 0.1rem;
      --btnpadbstart: 0.1rem;
      --btnpadbend: 0.1rem;
    }

    :where(&[role='destructive']) {
      --accentColorEffective: var(--red);
      --accentColorEffective4: var(--red4);

      --accentColor: var(--red);
      --accentColor2: var(--red2);
      --accentColor3: var(--red3);
      --accentColor4: var(--red4);
      --accentColor5: var(--red5);
    }
    :where(&[role='confirm']) {
      --accentColorEffective: var(--blue);
      --accentColorEffective4: var(--blue4);

      --accentColor: var(--blue);
      --accentColor2: var(--blue2);
      --accentColor3: var(--blue3);
      --accentColor4: var(--blue4);
      --accentColor5: var(--blue5);
    }
  }
}

@layer #{vars.$utils-layer} {
  [is='borderless-button'] {
    :where(&) {
      text-align: center;
    }
  }
}
