@use '../vars';

@layer #{vars.$components-layer} {
  [is='borderless-button'] {
    display: grid;
    place-items: center;
    place-content: center;

    // background-color: transparent;
    // color: blue;
    // border: none;
  }
}
