@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  [is='confirmation-dialog'] {
    :where(&) {
      @include mixins.reset-dialog;

      color: var(--text,);

      touch-action: none;

      position: fixed;

      inline-size: var(--confirmation--dialog-inline-size, anchor-size());
      block-size: fit-content;
      height: auto; // safari

      // min-inline-size: var(--confirmation--dialog-min-inline-size,);

      max-inline-size: var(--confirmation--dialog-max-inline-size,);
      max-block-size: var(--confirmation--dialog-max-block-size,);

      margin-block: var(--confirmation--dialog-margin-block,);
      margin-inline: var(--confirmation--dialog-margin-inline,);

      transform: var(--confirmation--dialog-scale,);
      // transform-origin: top left;

      opacity: var(--confirmation--dialog-opacity,);

      position-anchor: --confirmation-dialog; // overriden
      position-area: center;

      overflow: clip;
      border-radius: 0.9rem;

      backdrop-filter: var(--liquid-glass-backdrop-filter,);
      box-shadow: var(--menu-popover-box-shadow,); //0 0 10px 10px black;

      padding-block: 1rem;
      padding-inline: 1rem;
      gap: 1rem;

      // finally
      --confirmation--dialog-scale: scale(0.7);
      --confirmation--dialog-opacity: 0.8;

      --confirmation--inner-scale: scale3d(1, 1, 1);
    }

    :where(& > *) {
      transform: var(--confirmation--inner-scale,);

      transform-origin: top;
    }

    :where(& > :nth-child(1)) {
      transform-origin: bottom;
    }

    &[open] {
      :where(&) {
        --confirmation--dialog-inline-size: min(20rem, 80vw);
        // --confirmation--dialog-min-inline-size: min(20rem, 80svw);

        --confirmation--dialog-max-inline-size: min(20rem, 80vw);
        --confirmation--dialog-max-block-size: 80vh;

        --confirmation--dialog-margin-block: max(env(safe-area-inset-top), var(--menu-spacing)) max(env(safe-area-inset-bottom), var(--menu-spacing));
        --confirmation--dialog-margin-inline: max(env(safe-area-inset-left), var(--menu-spacing)) max(env(safe-area-inset-right), var(--menu-spacing));

        --confirmation--dialog-scale: scale(1);
        --confirmation--dialog-opacity: 1;

        --confirmation--inner-scale: scale3d(1, 1, 1);

        @starting-style {
          --confirmation--dialog-scale: scale(0.7);
          --confirmation--dialog-opacity: 0.8;

          --confirmation--inner-scale: scale3d(0, 0, 1);
        }
      }
    }

    &[closing] {
      :where(&) {
        --confirmation--dialog-inline-size: anchor-size();
        // --confirmation--dialog-min-inline-size: anchor-size();

        --confirmation--dialog-max-inline-size: anchor-size();
        --confirmation--dialog-max-block-size: anchor-size();

        --confirmation--dialog-scale: scale(0.7);
        --confirmation--dialog-opacity: 0;

        --confirmation--inner-scale: scale3d(0, 0, 1);
      }
    }
  }
}
