@use '../vars';
@use '../mixins';
@use '../placeholders';

@layer #{vars.$components-layer} {
  content-unavailable-view {
    :where(&) {
      place-content: center;
      place-items: center;

      text-align: center;

      row-gap: 1rem;

      padding-inline: 1rem;
      padding-block: 1rem;

      &::part(content-unavailable-actions-stack),
      &::part(content-unavailable-title-stack),
      &::part(content-unavailable-description-stack) {
        max-inline-size: 20rem;
      }

      &::part(content-unavailable-actions-stack) {
        row-gap: 0.2rem;
      }

      &::part(content-unavailable-title-stack) {
        --label-flow: vertical;

        --label-font: title3; // NOTE: Safari fix
      }
    }

    > :not([slot]) {
      :where(&) {
        --label-image-size: 5;

        --label-gap: 1;

        // --label-font: title3;
      }
    }

    &:not(:has(> [slot='description'])) {
      :where(&)::part(content-unavailable-description-stack) {
        display: none;
      }
    }

    &:not(:has(> [slot='actions'])) {
      :where(&)::part(content-unavailable-actions-stack) {
        display: none;
      }
    }
  }
}
