@use '../vars';

@layer #{vars.$components-layer} {
  date-picker {
    :where(&) {
      grid-template-columns: minmax(0, 1fr);
      grid-template-rows: minmax(0, 1fr);

      &::part(date-picker-stack) {
        grid-template-columns: auto minmax(0, 1fr);
        grid-template-rows: minmax(0, 1fr);
      }

      &::part(date-picker-label-stack) {
        // display: grid;
      }

      &::part(date-picker-input-stack) {
        place-items: stretch;
        place-content: stretch;

        grid-auto-flow: column;
      }

      &::part(date-picker-form-input) {
        text-align: end;
      }
    }
  }
}
