@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  [is='disclosure-group'] {
    :where(&) {
      display: grid;

      overflow: clip;
    }

    :where(& summary) {
      list-style: none;
    }
    // summary::marker {
    //   color: blue;
    //   display: none;
    //   content: '→';
    //   // content: "66";
    //   list-style-type: square;
    //   position: absolute;
    //   background-color: red;
    // }

    :where(&)::details-content {
      display: grid;

      background: transparent;
      block-size: 0;
    }

    :where(& > *:not(summary)) {
      margin: 0;
    }

    &[open] {
      :where(&)::details-content {
        block-size: auto;
      }
    }

    @supports not (interpolate-size: allow-keywords) {
      :where(&) {
        grid-template-rows: auto 0fr;

        align-items: start;
        align-content: start;
      }

      :where(&)::details-content {
        block-size: auto;

        content-visibility: visible;

        min-height: 0;
      }

      &[open] {
        :where(&) {
          grid-template-rows: auto 1fr;
        }
      }
    }
  }
}
