@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  [is='disclosure-group'] {
    :where(&) {
      overflow: clip;

      --menu--host-details-content-block-size: 0;
    }

    :where(& summary) {
      list-style: none;
    }
    // summary::marker {
    //   color: blue;
    //   display: none;
    //   content: '→';
    //   // content: "66";
    //   list-style-type: square;
    //   position: absolute;
    //   background-color: red;
    // }

    :where(&)::details-content {
      display: grid;

      background: transparent;
      block-size: var(--menu--host-details-content-block-size);
    }

    :where(& > *:not(summary)) {
      margin: 0;
    }

    &[open] {
      :where(&) {
        --menu--host-details-content-block-size: auto;
      }
    }

    @supports not (interpolate-size: allow-keywords) {
      :where(&) {
        grid-template-rows: var(--menu--host-grid-template-rows);

        align-items: start;
        align-content: start;

        --menu--host-grid-template-rows: auto 0fr;

        --menu--host-details-content-block-size: auto;
      }

      :where(&)::details-content {
        // block-size: auto;

        content-visibility: visible;

        min-height: 0;
      }

      &[open] {
        :where(&) {
          --menu--host-grid-template-rows: auto 1fr;
        }
      }
    }
  }
}
