@use '../vars';
@use '../mixins';

@layer #{vars.$tab-components-layer} {
  fine-tooltip {
    :where(&) {
      color: var(--text,);

      pointer-events: none;
      touch-action: none;

      position: fixed;

      inline-size: max-content;
      block-size: max-content;
      height: auto; // safari

      max-inline-size: 80vw;
      max-block-size: 80vh;

      margin-block: var(--tooltip--dialog-margin-block,);
      margin-inline: var(--tooltip--dialog-margin-inline,);

      transform: var(--tooltip--dialog-scale,) var(--tooltip--dialog-translate,);
      opacity: var(--tooltip--dialog-opacity,);
      transform-origin: top;

      position-anchor: --fine-tooltip; // overriden
      position-area: bottom center;

      overflow: clip;
      border-radius: 0.9rem;

      backdrop-filter: var(--liquid-glass-backdrop-filter,);
      box-shadow: var(--menu-popover-box-shadow,);

      padding-block: 0.5rem;
      padding-inline: 1rem;
      gap: 0.5rem;

      border: none;

      position-try-fallbacks: --custom-top;
      position-try-order: most-height;
      position-visibility: anchors-visible;

      // finally
      --tooltip--dialog-translate: translateY(-10%);
      --tooltip--dialog-scale: scale(0.9);
      --tooltip--dialog-opacity: 0;

      --label--host-white-space: pre-line;
    }

    &[open] {
      :where(&) {
        --tooltip--dialog-margin-block: max(env(safe-area-inset-top), var(--menu-spacing)) max(env(safe-area-inset-bottom), var(--menu-spacing));
        --tooltip--dialog-margin-inline: max(env(safe-area-inset-left), var(--menu-spacing)) max(env(safe-area-inset-right), var(--menu-spacing));

        --tooltip--dialog-translate: translateY(0);
        --tooltip--dialog-scale: scale(1);
        --tooltip--dialog-opacity: 0.9;

        @starting-style {
          --tooltip--dialog-translate: translateY(-10%);
          --tooltip--dialog-scale: scale(0.9);
          --tooltip--dialog-opacity: 0;
        }
      }
    }

    &[closing] {
      :where(&) {
        --tooltip--dialog-translate: translateY(-10%);
        --tooltip--dialog-scale: scale(0.9);
        --tooltip--dialog-opacity: 0;
      }
    }
  }
}

@position-try --custom-top {
  position-area: top center;
}
