@use '../vars';
@use '../placeholders';

@layer #{vars.$components-layer} {
  [is='glass-prominent-button'] {
    @extend %button;

    :where(&) {
      backdrop-filter: var(--liquid-glass-backdrop-filter);

      box-shadow: var(--toolbar-cell-box-shadow);

      transform: var(--btn--scale,);

      --btnpadistart: var(--regular-btn-padding);
      --btnpadiend: var(--regular-btn-padding);
      --btnpadbstart: var(--regular-btn-padding);
      --btnpadbend: var(--regular-btn-padding);
    }

    @each $size, $media in vars.$button-sizes {
      :where(&[control-size='#{$size}']) {
        --btnpadistart: var(--#{$size}-btn-padding);
        --btnpadiend: var(--#{$size}-btn-padding);
        --btnpadbstart: var(--#{$size}-btn-padding);
        --btnpadbend: var(--#{$size}-btn-padding);
      }
    }

    :where(&[role='destructive']) {
      --accentColorEffective: var(--red);
      --accentColorEffective4: var(--red4);

      --accentColor: var(--red);
      --accentColor2: var(--red2);
      --accentColor3: var(--red3);
      --accentColor4: var(--red4);
      --accentColor5: var(--red5);
    }
  }
}

@layer #{vars.$colors-layer} {
  [is='bordered-prominent-button'] {
    --secondary: var(--btntext);
    --blue: var(--btntext);
  }
}

@layer #{vars.$utils-layer} {
  [is='glass-prominent-button'] {
    :where(&) {
      text-align: center;
    }
  }
}
