@use '../vars';
@use '../placeholders';

@layer #{vars.$components-layer} {
  [is='glass-prominent-button'] {
    @extend %button;

    :where(&) {
      backdrop-filter: var(--liquid-glass-backdrop-filter);

      box-shadow: var(--toolbar-cell-box-shadow);

      transform: var(--btn--scale,);
    }

    :where(&[role='destructive']) {
      --accentColor: var(--red);
      --accentColor2: var(--red2);
      --accentColor3: var(--red3);
      --accentColor4: var(--red4);
      --accentColor5: var(--red5);
    }
  }
}

@layer #{vars.$utils-layer} {
  [is='glass-prominent-button'] {
    :where(&) {
      text-align: center;
    }
  }
}
