@use '../vars';
@use 'sass:string';
@use 'sass:list';

$h-stack-templates: ((minmax(0, 1fr) auto), (auto minmax(0, 1fr) auto auto), (repeat(4, minmax(0, 1fr))), (repeat(2, minmax(0, 1fr)) auto));

@layer #{vars.$components-layer} {
  h-stack {
    :where(&) {
      grid-auto-flow: column;
      grid-template-rows: minmax(0, 1fr);

      place-items: center;
      place-content: center;

      gap: 1rem;
    }

    // > * {
    //   :where(&) {
    //     max-height: 100%;
    //     // align-self: start;
    //   }
    // }

    @each $template in $h-stack-templates {
      $parts: string.split('#{$template}', ', ');
      $result: '';
      @each $part in $parts {
        $result: $result + '#{$part},';
      }
      $result: string.slice($result, 1, string.length($result) - 1);
      @debug $result, $template;
      :where(&[template='#{$result}']) {
        grid-template-columns: $template;
      }
    }
  }
}
