@use '../vars';

@layer #{vars.$components-layer} {
  h-stack {
    :where(&) {
      grid-auto-flow: column;
      grid-template-rows: minmax(0, 1fr);

      place-items: center;
      place-content: center;

      gap: 1rem;
    }

    // > * {
    //   :where(&) {
    //     max-height: 100%;
    //     // align-self: start;
    //   }
    // }

    :where(&[columns='minmax(0,1fr) auto']) {
      grid-template-columns: minmax(0, 1fr) auto;
    }

    :where(&[columns='auto minmax(0,1fr) auto auto']) {
      grid-template-columns: auto minmax(0, 1fr) auto auto;
    }

    :where(&[columns='repeat(4,minmax(0,1fr))']) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
