@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  i-label {
    place-items: center;
    place-content: center;

    grid-template-columns: auto minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr);
    grid-template-areas:
      'label-image-stack'
      'label-title-stack';

    & > *:not([slot]) {
      grid-area: label-title-stack;
    }
  }

  ::part(label-image-stack),
  ::part(label-title-stack) {
  }

  ::part(label-image-stack) {
    aspect-ratio: 1 / 1;

    width: 2rem;

    html:has(#console) & {
      box-shadow: inset 0 0 0 4px coral;
    }
  }

  ::part(label-title-stack) {
    text-decoration: underline;
  }
}
