@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  i-label {
    place-items: center;
    place-content: center;

    grid-template-columns: auto minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr);
    grid-template-areas: 'label-image-stack label-title-stack';

    gap: 0.3rem;

    & > *:not([slot]) {
      grid-area: label-title-stack;
    }
  }

  ::part(label-image-stack),
  ::part(label-title-stack) {
  }

  ::part(label-image-stack) {
    aspect-ratio: 1 / 1;

    width: 2rem;
    font-size: 2rem;
    line-height: 1;
  }

  ::part(label-title-stack) {
    text-decoration: underline;
  }
}
