@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  image-view {
    :where(&) {
      --image--fontsize: calc(var(--label-image-size) * 1rem);
    }

    > :not([slot]) {
      :where(&) {
        inline-size: var(--image--fontsize);
        block-size: var(--image--fontsize);

        font-size: var(--image--fontsize);
      }
    }
  }
}
