@use '../vars';

@layer #{vars.$components-layer} {
  // all is a grid
  navigation-stack:not([hidden]),
  navigation-split-view:not([hidden]),
  scroll-view,
  body-view,
  tab-view,
  [is='sidebar-view'],
  [is='tab-bar'],
  [is='full-screen'],
  [is='sheet-view'],
  tool-bar-item,
  tool-bar-item-group,
  sidebar-toggle,
  ::part(navigation-bar),
  ::part(bottom-bar),
  tab-bar-stack,
  v-stack,
  // tool-bar,
  ::part(#{vars.$scroll-view-navbar-part-name}),
  ::part(#{vars.$scroll-view-toolbar-part-name}) {
    display: grid;
  }
}
