@use '../vars';

@layer #{vars.$components-layer} {
  // all is a grid
  navigation-stack:not([hidden]),
  navigation-split-view:not([hidden]),
  scroll-view,
  body-view,
  tab-view,
  [is='tab-bar'],
  [is='full-screen'],
  [is='sheet-view'],
  tool-bar-item,
  tool-bar-item-group,
  sidebar-toggle,
  navigation-bar,
  bottom-bar,
  tab-bar-stack,
  v-stack,
  tool-bar {
    display: grid;
  }
}
