@use '../vars';

@layer #{vars.$components-layer} {
  labeled-content {
    :where(&) {
      container: labeled-content / inline-size;

      &::part(labeled-content-container) {
        grid-template-columns: subgrid;

        gap: var(--labeled-content-row-gap);
      }

      &::part(labeled-content-stack) {
        display: flex;

        flex-flow: var(--labeled-content--value-stack-flex-flow, row wrap);
        // flex-wrap: wrap;

        justify-content: space-between;

        row-gap: var(--labeled-content-row-gap);
        column-gap: var(--labeled-content-column-gap);
      }

      &::part(labeled-content-label-stack) {
        --label-truncation-mode: tail;

        --label-line-limit: 1;
      }

      &::part(labeled-content-value-stack) {
        color: var(--secondary);

        justify-items: var(--labeled-content--value-stack-justify-items, flex-end);

        word-break: break-word;
      }

      @media (pointer: fine) {
        --labeled-content--value-stack-flex-flow: column;

        --labeled-content--value-stack-justify-items: flex-start;
      }

      &[labeled-content-style='vertical'] {
        --labeled-content--value-stack-flex-flow: column;

        --labeled-content--value-stack-justify-items: flex-start;
      }

      &[labeled-content-style='horizontal'] {
        --labeled-content--value-stack-flex-flow: row wrap;

        --labeled-content--value-stack-justify-items: flex-end;
      }
    }

    > :nth-child(n + 2 of [slot='label']),
    > [slot='header'],
    > [slot='footer'] {
      :where(&) {
        color: var(--secondary);
      }
    }
  }
}
