@use '../vars';
@use '../placeholders';
@use 'sass:string';

@mixin set-list-style($value) {
  @if $value == inset {
    --list--item-border-radius: var(--insetlist-item-border-radius);

    --list--host-padding-inline: var(--insetlist-padding-inline);
    --list--host-padding-block: var(--insetlist-padding-block);
    //
    // --list--root-background-color: aliceblue;
    // --list--separator-block-size: 5px;
  } @else if $value == inset-grouped {
    --list--item-border-radius: var(--insetlist-item-border-radius);

    --list--host-background-color: darkgray; //var(--groupedface);

    --list--host-padding-inline: var(--insetgroupedlist-padding-inline);
    --list--host-padding-block: var(--insetgroupedlist-padding-block);

    // --list--adjacentitem-border-radius: 0px 0px var(--list--item-border-radius,) var(--list--item-border-radius,);

    //
    // // --list--root-background-color: aliceblue;

    // --list--root-padding-inline: 0.5rem;
    // // --toolbaritemradius: var(--list-item-border-radius);

    // // --list--separator-block-size: 5px;
    // --list--separator-inset-inline-start: calc(var(--toolbaritempadistart) + 0.1rem);
    // --list--separator-inset-inline-end: calc(var(--toolbaritempadiend) + 0.1rem);
  } @else if $value == sidebar {
    --list--item-border-radius: var(--insetlist-item-border-radius);

    --list--details-gap: var(--list-gap);

    --list--rootsummary-padding-inline-start: 5px;
    --list--rootsummary-padding-inline-end: 5px;
    --list--rootsummary-padding-block-start: 2px;
    --list--rootsummary-padding-block-start: 2px;

    --list--item-padding-inline-start: 5px;
    --list--item-padding-inline-end: 5px;
    --list--item-padding-block-start: 5px;
    --list--item-padding-block-start: 5px;

    --list--item-background-color: transparent;
    --list--rootsummary-background-color: transparent;
    --list--rootsummary-border-radius: 0px;

    --list--separator-background-color: transparent;
    //
    // --list--root-padding-inline: 0.5rem;
    // // --toolbaritemradius: var(--list-item-border-radius);
    // --list--separator-block-size: 0px;
    // --list--separator-visibility: collapse;
    // // --list--root-background-color: transparent;
    // --face: transparent; // --groupedface: transparent;
  }
}

@layer #{vars.$components-layer} {
  list-view {
    &:not(& &, [is='form-view'] &) {
      @extend %list;

      // wire
      :where(&) {
        --list--section-gap: var(--list-gap);

        --list--item-padding-inline-start: var(--list-item-padding-inline-start);
        --list--item-padding-inline-end: var(--list-item-padding-inline-end);
        --list--item-padding-block-start: var(--list-item-padding-block-start);
        --list--item-padding-block-end: var(--list-item-padding-block-end);

        --list--item-background-color: var(--list-item-background-color,);
      }

      // vars
      @supports (x: #{string.unquote('if(else:red)')}) {
        :where(&) {
          --list--root-padding-inline: if(style(--list-style: inset-grouped): 0.5rem ; style(--list-style: sidebar): 0.5rem ;);

          --toolbaritemradius: if(style(--list-style: inset-grouped): 1rem ; style(--list-style: sidebar): 1rem ;);

          --list--separator-block-size: if(style(--list-style: sidebar): 0px ;);
          --list--separator-visibility: if(style(--list-style: collapse): 0px ;);

          --list--root-background-color: if(style(--list-style: sidebar): transparent ;);
        }
      }

      @supports not (x: #{string.unquote('if(else:red)')}) {
        :where(&:not([list-style])) {
          @each $v in vars.$list-styles {
            @container style(--list-style: #{$v}) {
              @include set-list-style($v);
            }
          }
        }
        @each $v in vars.$list-styles {
          :where(&[list-style='#{$v}']) {
            @include set-list-style($v);
          }
        }
      }

      // ifs finally
      @supports (x: #{string.unquote('attr(x type(*))')}) {
        :where(&) {
          --list-style: attr(list-style type(<custom-ident>), inherit);
        }
      }
    }
  }
}
