@use '../vars';
@use '../placeholders';
@use 'sass:string';

@mixin set-list-style($value) {
  @if $value == inline {
    //
    // --list--host-background-color: aliceblue;
    // --list--separator-block-size: 5px;
  } @else if $value == inset-grouped {
    // --list--host-background-color: aliceblue;

    --list--host-padding-inline: 0.5rem;
    --componentradius: 1rem;

    // --list--separator-block-size: 5px;
    --list--separator-inset-inline-start: calc(var(--componentpadistart) + 0.1rem);
    --list--separator-inset-inline-end: calc(var(--componentpadiend) + 0.1rem);
  } @else if $value == sidebar {
    --list--host-padding-inline: 0.5rem;
    --componentradius: 1rem;

    --list--separator-block-size: 0px;
    --list--separator-visibility: collapse;

    --list--host-background-color: transparent;
  }
}

$list-styles: inline, inset-grouped, sidebar;

@layer #{vars.$components-layer} {
  list-view {
    @extend %list-view;

    // vars
    @supports (x: #{string.unquote('if(else:red)')}) {
      :where(&) {
        --list--host-padding-inline: if(style(--list-style: inset-grouped): 0.5rem ; style(--list-style: sidebar): 0.5rem ;);

        --componentradius: if(style(--list-style: inset-grouped): 1rem ; style(--list-style: sidebar): 1rem ;);

        --list--separator-block-size: if(style(--list-style: sidebar): 0px ;);
        --list--separator-visibility: if(style(--list-style: collapse): 0px ;);

        --list--host-background-color: if(style(--list-style: sidebar): transparent ;);
      }
    }

    @supports not (x: #{string.unquote('if(else:red)')}) {
      :where(&:not([list-style])) {
        @each $v in $list-styles {
          @container style(--list-style: #{$v}) {
            @include set-list-style($v);
          }
        }
      }
      @each $v in $list-styles {
        :where(&[list-style='#{$v}']) {
          @include set-list-style($v);
        }
      }
    }

    // ifs finally
    @supports (x: #{string.unquote('attr(x type(*))')}) {
      :where(&) {
        --list-style: attr(list-style type(<custom-ident>), inherit);
      }
    }
  }
}
