@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  menu-view {
    &:hover {
      background-color: red;
    }
    :where(&)::part(menu-details) {
    }

    :where(&)::part(menu-summary) {
      // anchor-name: --my-anchor;

      @media (prefers-reduced-motion: no-preference) {
        transition: all 2400ms allow-discrete;
        will-change: transform, overlay, display;
      }

      /* transform: scale(1);
      filter: blur(0px); */
    }

    :where(&)::part(menu-form) {
      inline-size: 200px;
      block-size: 300px; //fit-content;

      overflow: clip auto;
      border-radius: inherit;

      background: black;
      border: red solid 1px;
    }

    :where(&)::part(menu-dialog) {
      @include mixins.reset-dialog;

      // @include mixins.make-transitionable-dialog-backdrop;

      @media (prefers-reduced-motion: no-preference) {
        transition: all 2400ms allow-discrete;
        will-change: transform, overlay, display;
      }

      position: fixed;
      display: grid;
      inline-size: anchor-size();
      block-size: anchor-size();

      box-shadow: 0 0 10px 10px black;

      // position-area: block-end span-inline-end;
      // position-try-fallbacks: block-end span-inline-start;

      // inset-block-start: anchor(start);

      transform: scale(0);
      // filter: blur(10px);

      // position-anchor: --my-anchor;
      position-area: center;

      overflow: clip;
      border-radius: 22px;
    }

    &[open] {
      :where(&)::part(menu-dialog) {
        transform: scale(1);
        // filter: blur(0);

        inline-size: fit-content; //200px;
        block-size: fit-content; //300px; //fit-content;
        height: auto;

        // margin-block-start: anchor-size();

        @starting-style {
          transform: scale(0);
          // filter: blur(10px);
        }
      }

      /* :where(&)::part(menu-summary) {
        transform: scale(0);
        filter: blur(10px);

        @starting-style {
          transform: scale(1);
          filter: blur(0);
        }
      } */
    }
  }
}
