@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  menu-view {
    // :where(&)::part(menu-details) {
    // }

    :where(&)::part(menu-summary) {
      // anchor-name: --my-anchor; //overriden

      @media (prefers-reduced-motion: no-preference) {
        transition:
          display var(--menu-animation-duration) allow-discrete var(--menu-animation-easing),
          overlay var(--menu-animation-duration) allow-discrete var(--menu-animation-easing),
          transform var(--menu-animation-duration) allow-discrete var(--menu-animation-easing);
        will-change: transform, overlay, display;
      }
    }

    :where(&)::part(menu-form) {
      inline-size: 200px;
      // block-size: 300px; //fit-content;

      overflow: clip auto;
      border-radius: inherit;

      background: black;
      border: red solid 1px;
    }

    :where(&)::part(menu-dialog) {
      @include mixins.reset-dialog;

      @media (prefers-reduced-motion: no-preference) {
        transition:
          block-size var(--menu-animation-duration) allow-discrete var(--menu-animation-easing),
          inline-size var(--menu-animation-duration) allow-discrete var(--menu-animation-easing),
          display var(--menu-animation-duration) allow-discrete var(--menu-animation-easing),
          overlay var(--menu-animation-duration) allow-discrete var(--menu-animation-easing),
          transform var(--menu-animation-duration) allow-discrete var(--menu-animation-easing);
        will-change: block-size, inline-size, transform, overlay, display;
      }

      position: fixed;
      display: grid;
      inline-size: anchor-size();
      block-size: anchor-size();

      transform: scale(0);

      // position-anchor: --my-anchor; // overriden
      position-area: center; // overriden

      overflow: clip;
      border-radius: 22px;

      box-shadow: 0 0 10px 10px black;
    }

    &[open] {
      :where(&)::part(menu-dialog) {
        transform: scale(1);

        inline-size: fit-content; //fit-content;
        block-size: var(--sert, 300px); //fit-content;

        @starting-style {
          transform: scale(0);
        }
      }
    }
  }
}
