@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  // v-stack,
  // tab-bar-stack {
  scroll-view:has(> tool-bar[slot='navigation-bar']) > *:not([slot]) {
    margin-block-start: var(--navigation-bar-height);
  }

  scroll-view:has(> tool-bar[slot='bottom-bar']) > *:not([slot]) {
    margin-block-end: var(--tool-bar-height);
  }
  // }

  navigation-stack > scroll-view,
  navigation-split-view > scroll-view,
  body-view > scroll-view {
    --surface-bg: var(--primary-bg);
  }

  [is='full-screen'] > scroll-view,
  [is='sheet-view'] > scroll-view {
    --surface-bg: var(--secondary-bg);
  }

  navigation-stack > scroll-view,
  navigation-split-view > scroll-view,
  body-view > scroll-view,
  [is='full-screen'] > scroll-view,
  [is='sheet-view'] > scroll-view {
    box-shadow: inset 0 0 0 2px cyan;

    overflow: clip auto;
    @include mixins.contain-overscroll;

    // overflow-y: auto;
    // overflow-x: clip;
    // overscroll-behavior: contain;
    // -webkit-overflow-scrolling: touch;
    padding-block: var(--safe-area-inset-top) var(--safe-area-inset-bottom);
    container: scroll-view / inline-size;
    background-color: var(--surface-bg);
    // place-items: center;
    //

    padding-inline: var(--safe-area-inset-left) var(--safe-area-inset-right);

    // grid-auto-rows: minmax(0, max-content);
    // grid-template-rows: 100% 1px;
    @include mixins.make-scrollable;

    // @include mixins.make-navbar;

    // &:has(> tool-bar[slot='navigation-bar']) {
    //   margin-top: var(--navigation-bar-height);
    // }

    // &:has(> tool-bar[slot='bottom-bar']) {
    //   margin-bottom: var(--tool-bar-height);
    // }
  }

  // navigation-split-view scroll-view {
  //   margin-inline-start: 400px;
  // }

  // navigation-split-view > scroll-view {
  //   width: 400px;
  //   margin-inline-start: 0;
  //   transform: none !important;
  // }

  @include mixins.if-ipad-sheet-fits {
    [is='sheet-view'] {
      scroll-view {
        padding-inline: 0px; //var(--edge-inset-inline-start)          var(--edge-inset-inline-end);
        padding-block: 0px; //var(--edge-inset-block-start) var(--edge-inset-block-end);
      }
    }
  }
}
