@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  // [is='sidebar-view'] {
  //   @include mixins.reset-dialog;

  //   // dowh
  //   overflow: clip;
  //   width: 100%;
  //   height: 100%;
  //   position: static;
  // }

  // v-stack,
  // [is='tab-bar-stack'], {
  scroll-view:has(~ tool-bar > [slot^='navigation-bar']),
  scroll-view:has(> [slot^='navigation-bar']) {
    :where(& > *:not([slot])) {
      // margin-block-start: var(--navigation-bar-height);
    }
  }

  scroll-view:has(~ tool-bar > [slot^='bottom-bar']),
  scroll-view:has(> [slot^='bottom-bar']) {
    :where(& > *:not([slot])) {
      margin-block-end: var(--tool-bar-height);
    }
  }
  // }

  navigation-stack > scroll-view,
  navigation-split-view > scroll-view,
  navigation-split-view > [is='sidebar-view'] > scroll-view,
  body-view > scroll-view,
  [is='full-screen'] > scroll-view,
  [is='sheet-view'] > scroll-view {
    :where(&) {
      overflow: clip auto;
      @include mixins.contain-overscroll;

      // overflow-y: auto;
      // overflow-x: clip;
      // overscroll-behavior: contain;
      // -webkit-overflow-scrolling: touch;
      padding-block: var(--safe-area-inset-top) var(--safe-area-inset-bottom);
      container: scroll-view / inline-size;
      background-color: var(--canvas-bg);
      // place-items: center;
      //

      padding-inline: var(--safe-area-inset-left) var(--safe-area-inset-right);

      // grid-auto-rows: minmax(0, max-content);
      // grid-template-rows: 100% 1px;
      @include mixins.make-scrollable;

      // @include mixins.make-navbar;
      @include mixins.create-v-scroll-view;

      // &:has(> tool-bar[slot='navigation-bar']) {
      //   margin-top: var(--navigation-bar-height);
      // }

      // &:has(> tool-bar[slot='bottom-bar']) {
      //   margin-bottom: var(--tool-bar-height);
      // };
    }
  }

  // navigation-split-view scroll-view {
  //   margin-inline-start: 400px;
  // }

  // navigation-split-view > scroll-view {
  //   width: 400px;
  //   margin-inline-start: 0;
  //   transform: none !important;
  // }

  @include mixins.if-ipad-sheet-fits {
    [is='sheet-view'] {
      :where(& scroll-view) {
        --safe-area-inset-top: 0px;
        --safe-area-inset-right: 0px;
        --safe-area-inset-bottom: 0px;
        --safe-area-inset-left: 0px;
        // padding-inline: 0px; //var(--edge-inset-inline-start)          var(--edge-inset-inline-end);
        // padding-block: 0px; //var(--edge-inset-block-start) var(--edge-inset-block-end);
      }
    }
  }
}
