@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  [is='sheet-view'] {
    @include mixins.reset-dialog;

    overflow: clip;

    width: 100lvw;
    height: var(--100lvh, 100lvh);

    transform: translateY(var(--view-transition-dialog-offscreen-y));

    &::backdrop {
      background-color: transparent;
    }

    @include mixins.if-ipad-sheet-fits {
      max-width: #{vars.$ipad-sheet-view-width};

      aspect-ratio: #{vars.$ipad-sheet-view-aspect-ratio};

      border-radius: 26px;

      margin: var(--safe-area-inset-top) env(safe-area-inset-right)
        var(--safe-area-inset-bottom) var(--safe-area-inset-left);

      height: auto;

      inset-inline-start: calc(
        50lvw - calc(#{vars.$ipad-sheet-view-width} / 2) - calc(
            calc(var(--safe-area-inset-left) + env(safe-area-inset-right)) / 2
          )
      );
      inset-block-start: calc(
        50lvh - calc(#{vars.$ipad-sheet-view-height} / 2) - calc(
            calc(var(--safe-area-inset-top) + var(--safe-area-inset-bottom)) / 2
          )
      );
    }
  }
}
