@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  tab-view > sidebar-toggle,
  dialog[is='tab-bar'] > sidebar-toggle {
    display: grid;
    background-color: coral;
  }

  tab-view > sidebar-toggle {
    position: fixed;
    inset: var(--safe-area-inset-top) auto auto env(safe-area-inset-left);
    width: 100px;
    height: 100px;
  }

  @include mixins.if-iphone-portrait {
    dialog[is='tab-bar'] > sidebar-toggle {
      display: none;
    }

    tab-view > sidebar-toggle {
      display: none;
    }
  }

  @include mixins.if-ipad-portrait {
    sidebar-toggle {
      dialog[is='tab-bar'] > & {
        // position: sticky;
        // left: 0;
        // top: 0;
        width: 30px;
        order: -1;
      }

      dialog[is='tab-bar'][open] > & {
        position: sticky;
        left: 0;
        top: 0;
        height: 30px;
      }
    }

    tab-view > sidebar-toggle {
      display: none;
    }
  }

  @include mixins.if-iphone-landscape {
    dialog[is='tab-bar'] > sidebar-toggle {
      display: none;
    }
  }

  @include mixins.if-ipad-landscape {
    dialog[is='tab-bar'] > sidebar-toggle {
      display: none;
    }
    tab-view > sidebar-toggle {
      display: none;
    }
  }
}
