@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  [is='sidebar-view'] {
    @include mixins.reset-dialog;

    // dowh
    width: 100%;
    height: 100%;
    position: relative;

    // Between 2col and 3col AND preferred-compact-column rule ON, apply transitions
    @media (prefers-reduced-motion: no-preference) {
      @include mixins.if-2col-split-view-fits {
        @include mixins.ifnot-3col-split-view-fits {
          navigation-split-view:has(
              > dialog[is='sidebar-view']
            )[preferred-compact-column='content']
            & {
            transition: margin-inline-start #{vars.$sidebar-transition-duration}
              ease-out allow-discrete;
          }
        }
      }
    }

    &::backdrop {
      background-color: transparent;

      @media (prefers-reduced-motion: no-preference) {
        transition:
          display var(--view-transition-duration) allow-discrete,
          overlay var(--view-transition-duration) allow-discrete,
          background-color var(--view-transition-duration);
        will-change: background-color, overlay, display;
      }
    }

    &[open] {
      &::backdrop {
        background-color: var(--view-transition-dialog-onscreen-backdrop-bg);
      }

      @starting-style {
        &::backdrop {
          background-color: transparent;
        }
      }

      @starting-style {
        & {
          transform: translateY(var(--view-transition-dialog-offscreen-y));
        }
      }
    }
  }
}

@layer #{vars.$final-layer} {
  [is='sidebar-view'] {
    &[open] {
      margin-inline-start: 0px !important;
    }
  }
}
