@use '../vars';

@layer #{vars.$components-layer} {
  tab-view > sidebar-toggle,
  dialog[is='tab-bar'] > sidebar-toggle {
    display: grid;
    background-color: coral;
  }

  tab-view > sidebar-toggle {
    position: fixed;
    inset: env(safe-area-inset-top) auto auto env(safe-area-inset-left);
    width: 100px;
    height: 100px;
  }

  @media (max-width: #{vars.$ipad-bp-max}) and (orientation: portrait) {
    dialog[is='tab-bar'] > sidebar-toggle {
      display: none;
    }

    tab-view > sidebar-toggle {
      display: none;
    }
  }

  @media (min-width: #{vars.$ipad-bp-min}) and (orientation: portrait) {
    sidebar-toggle {
      dialog[is='tab-bar'] > & {
        // position: sticky;
        // left: 0;
        // top: 0;
        width: 30px;
        order: -1;
      }

      dialog[is='tab-bar'][open] > & {
        position: sticky;
        left: 0;
        top: 0;
        height: 30px;
      }
    }

    tab-view > sidebar-toggle {
      display: none;
    }
  }

  @media (max-width: #{vars.$ipad-landscape-bp-max}) and (orientation: landscape) {
    dialog[is='tab-bar'] > sidebar-toggle {
      display: none;
    }
  }

  @media (min-width: #{vars.$ipad-landscape-bp-min}) and (orientation: landscape) {
    dialog[is='tab-bar'] > sidebar-toggle {
      display: none;
    }
    tab-view > sidebar-toggle {
      display: none;
    }
  }
}
