@use '../vars';
@use '../mixins';

@mixin make-iphone-tabbarstack {
  :where(& [is='tab-bar'] > scroll-view) {
    grid-auto-flow: column;
  }

  :where(& [is='tab-bar-stack']) {
    grid-auto-flow: column;
    margin-block: 0 !important; // scroll-view > * override
  }
}

@mixin make-ipad-tabbarstack {
  :where(& [is='tab-bar-stack']) {
    grid-auto-flow: column;
  }

  :where(& [is='tab-bar'][open] [is='tab-bar-stack']) {
    grid-auto-flow: row;

    align-content: start;

    row-gap: 0.5rem;
  }

  :where(& [is='tab-bar']:not([open]) [is='tab-bar-stack']) {
    margin-block: 0 !important; // scroll-view > * override
  }

  :where(& [is='tab-bar'] > scroll-view) {
    @include mixins.contain-overscroll;

    grid-auto-flow: column;

    overflow: auto clip;
  }

  :where(& [is='tab-bar'][open] > scroll-view) {
    // padding-block-start: 30px;
    grid-auto-flow: row;

    overflow: clip auto;

    @include mixins.make-scrollable;
  }
}

@layer #{vars.$components-layer} {
  tab-view[tab-view-style='tab-bar-only'] {
    @media (pointer: coarse) {
      @include make-iphone-tabbarstack;
    }

    @media (pointer: fine) {
      @include make-ipad-tabbarstack;
    }
  }

  @include mixins.if-iphone-portrait {
    tab-view:not([tab-view-style='tab-bar-only']) {
      @include make-iphone-tabbarstack;
    }
  }

  @include mixins.if-ipad-portrait {
    tab-view:not([tab-view-style='tab-bar-only']) {
      @include make-ipad-tabbarstack;
    }
  }

  @include mixins.if-iphone-landscape {
    tab-view:not([tab-view-style='tab-bar-only']) {
      :where(& [is='tab-bar-stack']) {
        align-content: start;

        row-gap: 0.5rem;
      }

      :where(& [is='tab-bar'] > scroll-view) {
        overflow: clip auto;
        @include mixins.contain-overscroll;
        @include mixins.make-scrollable;
      }
    }
  }

  @include mixins.if-ipad-landscape {
    tab-view:not([tab-view-style='tab-bar-only']) {
      :where(& [is='tab-bar-stack']) {
        align-content: start;

        row-gap: 0.5rem;
      }

      :where(& [is='tab-bar'] > scroll-view) {
        overflow: clip auto;

        @include mixins.contain-overscroll;

        @include mixins.make-scrollable;
      }
    }
  }
}
