@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  tab-view {
    grid-template-columns: subgrid; // inherits columns from container
    grid-template-rows: subgrid; // inherits rows if needed
  }

  // body:has(tab-view input[type='checkbox']:checked) {
  // grid-template: 'aside main' 1fr / 300px minmax(0, 1fr);
  // }

  @media (orientation: landscape) {
    scroll-view:not(dialog scroll-view) {
      tab-view navigation-stack > &,
      tab-view navigation-split-view > &,
      tab-view body-view > &,
      tab-view & ~ tool-bar {
        --safe-area-inset-top: max(env(safe-area-inset-top), var(--sidebar-spacing));

        --safe-area-inset-bottom: max(env(safe-area-inset-bottom), var(--sidebar-spacing));
      }
    }
    // tab-view navigation-split-view > [is='sidebar-view'] > scroll-view {
    //   --safe-area-inset-top: max(env(safe-area-inset-top), var(--sidebar-spacing));
    // }

    // --safe-area-inset-bottom: max(
    //   env(safe-area-inset-bottom),
    //   var(--sidebar-spacing)
    // );
    // }
  }

  @include mixins.if-iphone-portrait {
    scroll-view:not(dialog scroll-view) {
      tab-view navigation-stack > &,
      tab-view navigation-split-view > &,
      tab-view body-view > &,
      tab-view & ~ tool-bar {
        --safe-area-inset-bottom: max(env(safe-area-inset-bottom), var(--sidebar-spacing));
      }
    }

    scroll-view:not(:has(~ tool-bar > [slot^='bottom-bar'])),
    scroll-view:not(:has(> [slot^='bottom-bar'])) {
      tab-view navigation-stack > &,
      tab-view navigation-split-view > &,
      tab-view body-view > & {
        --safe-area-inset-bottom: calc(max(env(safe-area-inset-bottom), var(--sidebar-spacing)) + var(--tab-bar-iphone-height));
      }
    }
    // tab-view navigation-split-view > [is='sidebar-view'] > scroll-view {
    // --safe-area-inset-bottom: max(
    //   env(safe-area-inset-bottom),
    //   var(--sidebar-spacing)
    // );
    // }
  }

  @include mixins.if-iphone-landscape {
    scroll-view:not(dialog scroll-view) {
      // SECTION: Make room for fixed togle
      // move ONLY navbar to the side
      tab-view & ~ tool-bar::part(navigation-bar) {
        --safe-area-inset-left: calc(max(env(safe-area-inset-left), var(--sidebar-spacing)) + var(#{vars.$sidebar-toggle-padding-inline-start-css-prop}, 0px));
      }

      // force navbar visibility bc/ of sidebartoggle shown
      tab-view & {
        &::part(#{vars.$scroll-view-navbar-part-name}) {
          visibility: visible;
        }

        grid-template-rows: var(--navigation-bar-height) minmax(max-content, 1fr);
      }

      tab-view navigation-split-view > &::part(#{vars.$scroll-view-navbar-stack-part-name}) {
        @include mixins.reposition-sentinel-for-sidebar;
      }
    }
  }

  /* @include mixins.if-ipad-portrait {
    scroll-view:not(dialog scroll-view) {
      tab-view navigation-stack > &,
      tab-view navigation-split-view > &,
      tab-view body-view > &,
      // tab-view & ~ navigation-bar,
      // tab-view & ~ bottom-bar {
      tab-view & ~ tool-bar {
        --safe-area-inset-top: calc(
          max(env(safe-area-inset-top), var(--sidebar-spacing)) +
            var(--tab-bar-ipad-height)
        );
      }
    }
    tab-view navigation-split-view > [is='sidebar-view'] > scroll-view {
      // --safe-area-inset-top: calc(
      //   max(env(safe-area-inset-top), var(--sidebar-spacing)) +
      //     var(--tab-bar-ipad-height)
      // );
    }
  } */

  @include mixins.if-ipad-landscape {
    // body:has(> tab-view) {
    //   grid-template-columns: 300px minmax(0px, 1fr);
    // }

    // tab-view {
    //   grid-column: 1 / -1; // span all columns
    //   grid-row: 1 / -1; // span all rows
    // }

    // tab-view {
    // padding-inline-start: calc(
    //   max(var(--safe-area-inset-left), var(--sidebar-spacing)) +
    //     var(--sidebar-width)
    // );
    scroll-view:not(dialog scroll-view) {
      tab-view navigation-stack > &,
      tab-view navigation-split-view > &,
      tab-view body-view > &,
      tab-view & ~ tool-bar {
        --safe-area-inset-left: calc(max(env(safe-area-inset-left), var(--sidebar-spacing)) + var(--sidebar-width));
      }
    }
    // }
  }

  // @media (min-width: 600px) and (orientation: landscape) {
  //   tab-view {
  //     position: relative;
  //     grid-area: aside;
  //     height: var(--100svh, 100svh);
  //     transform: none;
  //     left: 0;
  //     width: 300px;
  //     justify-self: end;
  //   }
  // }
}

@layer #{vars.$final-layer} {
  // @include mixins.if-iphone-landscape {
  //   ::part(#{vars.$scroll-view-navbar-stack-part-name}) {
  //     &::before {
  //       width: calc(
  //         var(--navbar-padding-inline-start, 0px) + var(--sidebar-toggle-padding-inline-start, 0px) + max(env(safe-area-inset-left), var(--sidebar-spacing))
  //       );
  //     }
  //   }
  // }
  @include mixins.if-ipad-portrait {
    scroll-view:not(dialog scroll-view) {
      tab-view navigation-stack > &,
      tab-view navigation-split-view > &,
      tab-view body-view > &,
      tab-view & ~ tool-bar {
        --safe-area-inset-top: calc(max(env(safe-area-inset-top), var(--sidebar-spacing)) + var(--tab-bar-ipad-height));
      }
    }
    tab-view navigation-split-view > [is='sidebar-view'] {
      padding-block-start: calc(max(env(safe-area-inset-top), var(--sidebar-spacing)) + var(--tab-bar-ipad-height));
    }
  }
}
