@use '../vars';
@use '../mixins';

@mixin make-floating-tabbar {
  background: light-dark(oklch(var(--sidebar-bg-lch) / var(--sidebar-bg-alpha)), oklch(var(--sidebar-bg-lch-dark) / var(--sidebar-bg-alpha-dark)));
  backdrop-filter: var(--liquid-glass-backdrop-filter);
  box-shadow: var(--liquid-glass-box-shadow);
}

@mixin make-iphone-tabbar {
  :where(&) {
    // max-width: var(--iphone-tabbar-max-width);
    // height: var(--iphone-tabbar-height);
    // left: 50%;
    // border-radius: var(--iphone-tabbar-border-radius);

    inset: auto 0 0 0;
    --tab-bar-width: 100lvw;

    place-content: center;
    //
    grid-auto-flow: column;

    pointer-events: none;

    @include mixins.make-toolbar(top);
  }

  &:not([open]) {
    :where(& tool-bar, &::part(#{vars.$scroll-view-navbar-part-name}), &::part(#{vars.$scroll-view-toolbar-part-name})) {
      display: none;
    }
  }

  // box-shadow: inset 0 0 0 3px blue;

  > scroll-view {
    :where(&) {
      margin-block: 0 max(var(--safe-area-inset-bottom), var(--sidebar-spacing));

      margin-inline: var(--safe-area-inset-left) var(--safe-area-inset-right);

      max-width: var(--iphone-tabbar-max-width);
      height: var(--iphone-tabbar-height);

      border-radius: var(--iphone-tabbar-border-radius);

      @include make-floating-tabbar;

      overflow: clip;

      pointer-events: all;
    }
  }
}

@mixin make-ipad-tabbar {
  :where(&) {
    --tab-bar-width: var(--ipad-tabbar-width);
    height: var(--ipad-tabbar-height);

    inset: max(var(--safe-area-inset-top), var(--sidebar-spacing)) auto auto 50%;
    --tab-bar-translate: translateX(-50%);

    @include make-floating-tabbar;

    @include mixins.make-transitionable-dialog-backdrop;

    border-radius: var(--ipad-tabbar-border-radius);

    grid-auto-flow: column;

    // transition: all 250ms ease-out allow-discrete;
  }

  &:not([open]) {
    :where(& tool-bar, &::part(#{vars.$scroll-view-navbar-part-name}), &::part(#{vars.$scroll-view-toolbar-part-name})) {
      display: none;
    }
  }

  &[open] {
    @include mixins.add-dialog-backdrop-transition-frames(var(--view-transition-dialog-onscreen-backdrop-bg));

    :where(&) {
      // @include mixins.make-toolbar;

      inset: max(var(--safe-area-inset-top), var(--sidebar-spacing)) auto max(var(--safe-area-inset-bottom), var(--sidebar-spacing))
        max(var(--safe-area-inset-left), var(--sidebar-spacing));

      height: auto; // override topbar
      --tab-bar-translate: translateX(0);
      --tab-bar-width: var(--sidebar-width);

      border-radius: var(--sidebar-border-radius);

      grid-auto-flow: row;
    }

    :where(& > *) {
      @include mixins.span-all;

      //????
      --safe-area-inset-top: 0px !important; // reset navbar > span
      --safe-area-inset-bottom: 0px !important; // reset navbar > span
    }

    > scroll-view {
      :where(&) {
        @include mixins.create-v-scroll-view;

        // this scroll-view does not apply bg-color per others on spec (ommited)
        // SECTION: Make room for fixed togle
        // make it opaque for navbars!
        // --canvas: oklch(var(--sidebar-bg-lch) / 1);
      }

      // re-apply width for dialog too (not dialog by default)
      :where(&)::part(#{vars.$scroll-view-navbar-stack-part-name}) {
        &::before {
          width: calc(var(--navbar-padding-inline-start, 0px) + var(--sidebar-toggle-padding-inline-start, 0px));
        }
      }

      // move ONLY navbar to the side
      :where(& ~ tool-bar)::part(navigation-bar) {
        --safe-area-inset-left: var(--sidebar-toggle-padding-inline-start, 0px); // reset navbar > span
      }

      // force navbar visibility bc/ of sidebartoggle shown
      &:has(~ sidebar-toggle) {
        :where(&)::part(#{vars.$scroll-view-navbar-part-name}) {
          visibility: visible;
        }

        :where(&) {
          grid-template-rows: var(--navigation-bar-height) minmax(max-content, 1fr);
        }
      }
    }
  }
}

@layer #{vars.$tab-components-layer} {
  [is='tab-bar'] {
    :where(&) {
      @include mixins.reset-dialog;

      // dowh
      overflow: clip;
      width: var(--tab-bar-width);
      height: auto;

      position: fixed; // show always

      --tab-bar-width: fit-content;

      // background: #ffffff9e;
      // backdrop-filter: blur(4px);

      // box-shadow:
      //   0 0 0 1px #fff inset,
      //   0px 0px 4px 2px #0000001c;

      transform: var(--tab-bar-translate,) var(--tab-bar-scale,);

      // transition: all var(--sidebar-transition-duration) ease-out allow-discrete;

      touch-action: none; // important for backdrop pans!

      // navigation-bar,
      // bottom-bar {
      //   padding-inline: 0;
      // }
    }

    tab-view[tab-view-style='tab-bar-only'] & {
      @media (pointer: coarse) {
        @include make-iphone-tabbar;
      }

      @media (pointer: fine) {
        @include make-ipad-tabbar;
      }
    }

    tab-view:not([tab-view-style='tab-bar-only']) & {
      @include mixins.if-iphone-portrait {
        @include make-iphone-tabbar;
      }

      @include mixins.if-ipad-portrait {
        @include make-ipad-tabbar;
      }

      @include mixins.if-iphone-landscape {
        :where(&) {
          inset: max(var(--safe-area-inset-top), var(--sidebar-spacing)) auto max(var(--safe-area-inset-bottom), var(--sidebar-spacing)) -100%;

          --tab-bar-width: var(--sidebar-width);

          border-radius: var(--sidebar-border-radius);

          @include make-floating-tabbar;

          @include mixins.make-transitionable-dialog-backdrop;
        }

        &[open] {
          @include mixins.add-dialog-backdrop-transition-frames(var(--view-transition-dialog-onscreen-backdrop-bg));

          :where(&) {
            left: max(var(--safe-area-inset-left), var(--sidebar-spacing));

            #{vars.$sidebar-toggle-padding-inline-start-css-prop}: 0px !important; // override tab-view prop
          }

          :where(& > *) {
            @include mixins.span-all;
          }

          :where(& > scroll-view) {
            @include mixins.create-v-scroll-view;

            // --canvas: oklch(var(--sidebar-bg-lch) / 1);
          }

          :where(& > tool-bar) {
            --safe-area-inset-left: 0px;
            --safe-area-inset-right: 0px;
          }
        }
      }

      @include mixins.if-ipad-landscape {
        :where(&) {
          // grid-area: aside;
          // position: relative;
          // margin: 10px;
          // height: 100svh;
          inset: max(var(--safe-area-inset-top), var(--sidebar-spacing)) auto max(var(--safe-area-inset-bottom), var(--sidebar-spacing))
            max(var(--safe-area-inset-left), var(--sidebar-spacing));

          --tab-bar-width: var(--sidebar-width);

          @include make-floating-tabbar;

          // max-height: calc(
          //   var(--100lvh, 100lvh) - max(
          //       var(--safe-area-inset-top),
          //       var(--sidebar-spacing)
          //     ) - max(var(--safe-area-inset-bottom), var(--sidebar-spacing))
          // );

          border-radius: var(--sidebar-border-radius);

          overflow: clip;
        }

        :where(& > *) {
          @include mixins.span-all;
        }

        :where(& > scroll-view) {
          @include mixins.create-v-scroll-view;
        }
      }
    }
  }
}
