@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  // [is='tab-bar'] > scroll-view {
  //   display: grid;
  //   // border-radius: inherit;
  // }

  tab-bar-stack {
    display: grid;
    // box-shadow: inset 0 0 0 12px firebrick;
  }

  @include mixins.if-iphone-portrait {
    [is='tab-bar'] > scroll-view {
      grid-auto-flow: column;
    }

    tab-bar-stack {
      grid-auto-flow: column;
      margin-block: 0 !important;
    }
  }

  @include mixins.if-ipad-portrait {
    tab-bar-stack {
      grid-auto-flow: column;
      margin-block: 0 !important;
    }

    [is='tab-bar'] > scroll-view {
      grid-auto-flow: column;

      overflow-y: auto clip;
      @include mixins.contain-overscroll;
    }

    [is='tab-bar'][open] > scroll-view {
      grid-auto-flow: row;
      padding-block-start: 30px;

      overflow: clip auto;

      @include mixins.make-scrollable;

      tab-bar-stack {
        grid-auto-flow: row;
      }
    }
  }

  @include mixins.if-iphone-landscape {
    [is='tab-bar'] > scroll-view {
      overflow: clip auto;
      @include mixins.contain-overscroll;
      @include mixins.make-scrollable;
    }
  }

  @include mixins.if-ipad-landscape {
    [is='tab-bar'] > scroll-view {
      //

      overflow: clip auto;
      @include mixins.contain-overscroll;

      @include mixins.make-scrollable;
    }
  }
}
