@use '../vars';
@use '../mixins';

@mixin make-iphone-tabbarstack {
  & [is='tab-bar'] {
    & > [is='form-view'] {
      :where(&) {
        grid-auto-flow: column;
        grid-template-rows: minmax(0, 1fr);

        overflow: auto clip;
      }

      :where(& [is='tab-item']) {
        min-inline-size: calc(var(--iphone-tabbar-block-size) + 1rem);
      }
    }
  }
}

@mixin make-ipad-tabbarstack {
  & [is='tab-bar'] {
    & > [is='form-view'] {
      :where(&) {
        @include mixins.contain-overscroll;

        grid-auto-flow: column;

        overflow: auto clip;
      }

      :where(&) {
        --label-line-limit: 1;

        --label-truncation-mode: tail;

        // --label-style: title-and-icon;
      }

      :where(&) {
        padding-block: 5px;
        padding-inline: 5px;
      }

      :where(& [is='tab-item']) {
        min-inline-size: calc(var(--iphone-tabbar-block-size) + 1rem);
      }
    }
  }
}

@layer #{vars.$tab-components-layer} {
  tab-view[tab-view-style='tab-bar-only'] {
    @media (pointer: coarse) {
      @include make-iphone-tabbarstack;
    }

    @media (pointer: fine) {
      @include make-ipad-tabbarstack;
    }
  }

  tab-view:not([tab-view-style='tab-bar-only']) {
    @include mixins.if-iphone-portrait {
      @include make-iphone-tabbarstack;
    }

    @include mixins.if-ipad-portrait {
      @include make-ipad-tabbarstack;
    }
  }
}
