@use '../vars';
@use '../mixins';

@mixin make-pseudo-tracking-thumb {
  &::after {
    content: '';
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;

    position-anchor: --tab-view-selection;
    // position-area: center;
    inset: anchor(--tab-view-selection top) auto auto anchor(--tab-view-selection left);

    inline-size: anchor-size();
    block-size: anchor-size();

    border-radius: var(--pill-border-radius);

    z-index: -1;

    @media (prefers-reduced-motion: no-preference) {
      transition: inset 150ms ease-out allow-discrete; //FIXME:
    }
  }
}

@mixin make-floating-tabbar {
  background: light-dark(oklch(var(--sidebar-bg-lch) / var(--sidebar-bg-alpha)), oklch(var(--sidebar-bg-lch-dark) / var(--sidebar-bg-alpha-dark)));
  backdrop-filter: var(--liquid-glass-backdrop-filter);
  box-shadow: var(--liquid-glass-box-shadow);
}

@mixin make-iphone-tabbar {
  :where(&) {
    --tab-bar-width: 100lvw;

    inset: auto 0 0 0;

    @include mixins.make-toolbar-pseudos(top);
  }

  > [is='form-view'] {
    :where(&) {
      margin-block: 0 max(var(--safe-area-inset-bottom), var(--sidebar-spacing));

      margin-inline: var(--safe-area-inset-left) var(--safe-area-inset-right);

      max-inline-size: var(--iphone-tabbar-max-inline-size);
      block-size: var(--iphone-tabbar-block-size);

      border-radius: var(--iphone-tabbar-border-radius);

      @include make-floating-tabbar;

      overflow: clip;

      @include make-pseudo-tracking-thumb; // NOTE: before is already taken!
    }
  }
}

@mixin make-ipad-tabbar2($selector) {
  :where(#{$selector} [is='sidebar-view'][open] ~ &) {
    inset-block-start: calc(max(var(--safe-area-inset-top), var(--sidebar-spacing)) * -1);
  }
}

@mixin make-ipad-tabbar {
  :where(&) {
    --tab-bar-width: 100lvw;

    inset: 0 0 auto 0;
  }

  > [is='form-view'] {
    :where(&) {
      margin-block: max(var(--safe-area-inset-top), var(--sidebar-spacing)) 0;

      margin-inline: var(--safe-area-inset-left) var(--safe-area-inset-right);

      max-inline-size: var(--ipad-tabbar-max-inline-size);
      block-size: var(--ipad-tabbar-block-size);

      border-radius: var(--ipad-tabbar-border-radius);

      @include make-floating-tabbar;

      overflow: clip;

      @include make-pseudo-tracking-thumb; // NOTE: before is already taken!
    }
  }
}

@layer #{vars.$tab-components-layer} {
  [is='tab-bar'] {
    :where(&) {
      @include mixins.reset-dialog;

      // dowh
      // overflow: clip;
      inline-size: var(--tab-bar-width,);
      block-size: var(--tab-bar-height,);

      position: fixed; // show always

      transform: var(--tab-bar-translate,) var(--tab-bar-scale,);

      grid-auto-flow: column;

      place-content: center;

      touch-action: none; // important for backdrop pans!

      pointer-events: none;

      --tab-bar-width: fit-content;
      --tab-bar-height: auto;
    }

    > [is='form-view'] {
      :where(&) {
        pointer-events: all;
      }
    }

    tab-view[tab-view-style='tab-bar-only'] & {
      @media (pointer: coarse) {
        @include make-iphone-tabbar;
      }

      @media (pointer: fine) {
        @include make-ipad-tabbar;
      }
    }

    @media (pointer: fine) {
      @include make-ipad-tabbar2("tab-view[tab-view-style='tab-bar-only']");
    }

    tab-view:not([tab-view-style='tab-bar-only']) & {
      @include mixins.if-iphone-portrait {
        @include make-iphone-tabbar;
      }

      @include mixins.if-ipad-portrait {
        @include make-ipad-tabbar;
      }

      @include mixins.if-iphone-landscape {
        :where(&) {
          @include make-iphone-tabbar;
        }
      }

      @include mixins.if-ipad-landscape {
        :where(&) {
          @include make-ipad-tabbar;
        }
      }
    }

    @include mixins.if-ipad-portrait {
      @include make-ipad-tabbar2("tab-view:not([tab-view-style='tab-bar-only'])");
    }
  }

  [is='sidebar-view'] {
    tab-view:not([tab-view-style='tab-bar-only']) > & {
      @include mixins.if-ipad-landscape {
        :where(&) {
          margin-inline-start: max(env(safe-area-inset-left), var(--sidebar-spacing));
        }
      }
    }
  }
}
