@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  tab-view {
    grid-template-columns: subgrid; // inherits columns from container
    grid-template-rows: subgrid; // inherits rows if needed
  }

  //  make tab-view responsive
  body {
    // grid-template: 'aside main' 1fr / 0px minmax(0, 1fr);
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0px, 1fr);
    // grid-template-areas: 'main';
    // will-change: grid-template;
    // transition: grid-template 750ms ease;
  }

  // body:has(tab-view input[type='checkbox']:checked) {
  // grid-template: 'aside main' 1fr / 300px minmax(0, 1fr);
  // }

  @media (orientation: landscape) {
    scroll-view:not(dialog scroll-view) {
      tab-view navigation-stack > &,
      tab-view navigation-split-view > &,
      tab-view body-view > &,
      // tab-view & ~ navigation-bar,
      // tab-view & ~ bottom-bar {
      tab-view & ~ tool-bar {
        --safe-area-inset-top: max(
          env(safe-area-inset-top),
          var(--tab-bar-sidebar-spacing)
        );

        --safe-area-inset-bottom: max(
          env(safe-area-inset-bottom),
          var(--tab-bar-sidebar-spacing)
        );
      }
    }
    tab-view navigation-split-view > [is='sidebar-view'] > scroll-view {
      // --safe-area-inset-top: max(
      //   env(safe-area-inset-top),
      //   var(--tab-bar-sidebar-spacing)
      // );

      // --safe-area-inset-bottom: max(
      //   env(safe-area-inset-bottom),
      //   var(--tab-bar-sidebar-spacing)
      // );
    }
  }

  @include mixins.if-iphone-portrait {
    scroll-view:not(dialog scroll-view) {
      tab-view navigation-stack > &,
      tab-view navigation-split-view > &,
      tab-view body-view > &,
      // tab-view & ~ navigation-bar,
      // tab-view & ~ bottom-bar {
      tab-view & ~ tool-bar {
        --safe-area-inset-bottom: max(
          env(safe-area-inset-bottom),
          var(--tab-bar-sidebar-spacing)
        );
      }
    }
    tab-view navigation-split-view > [is='sidebar-view'] > scroll-view {
      // --safe-area-inset-bottom: max(
      //   env(safe-area-inset-bottom),
      //   var(--tab-bar-sidebar-spacing)
      // );
    }
  }

  @include mixins.if-iphone-landscape {
    scroll-view:not(dialog scroll-view) {
      // tab-view & ~ navigation-bar,
      // tab-view & ~ bottom-bar {
      tab-view & ~ tool-bar {
        // FIXME: Make this apply only to navbar and NOT bottombar (add a var)
        --safe-area-inset-left: calc(
          env(safe-area-inset-left) +
            var(#{vars.$sidebar-toggle-padding-inline-start-css-prop}, 0px)
        );
      }
    }
  }

  @include mixins.if-ipad-portrait {
    scroll-view:not(dialog scroll-view) {
      tab-view navigation-stack > &,
      tab-view navigation-split-view > &,
      tab-view body-view > &,
      // tab-view & ~ navigation-bar,
      // tab-view & ~ bottom-bar {
      tab-view & ~ tool-bar {
        --safe-area-inset-top: calc(
          max(env(safe-area-inset-top), var(--tab-bar-sidebar-spacing)) +
            var(--tab-bar-ipad-height)
        );
      }
    }
    tab-view navigation-split-view > [is='sidebar-view'] > scroll-view {
      // --safe-area-inset-top: calc(
      //   max(env(safe-area-inset-top), var(--tab-bar-sidebar-spacing)) +
      //     var(--tab-bar-ipad-height)
      // );
    }
  }

  @include mixins.if-ipad-landscape {
    // body:has(> tab-view) {
    //   grid-template-columns: 300px minmax(0px, 1fr);
    // }

    // tab-view {
    //   grid-column: 1 / -1; // span all columns
    //   grid-row: 1 / -1; // span all rows
    // }

    // tab-view {
    // padding-inline-start: calc(
    //   max(var(--safe-area-inset-left), var(--tab-bar-sidebar-spacing)) +
    //     var(--tab-bar-sidebar-width)
    // );
    scroll-view:not(dialog scroll-view) {
      tab-view navigation-stack > &,
      tab-view navigation-split-view > &,
      tab-view body-view > &,
      // tab-view & ~ navigation-bar,
      // tab-view & ~ bottom-bar {
      tab-view & ~ tool-bar {
        --safe-area-inset-left: calc(
          max(env(safe-area-inset-left), var(--tab-bar-sidebar-spacing)) +
            var(--tab-bar-sidebar-width)
        );
      }
    }
    // }
  }

  // @media (min-width: 600px) and (orientation: landscape) {
  //   tab-view {
  //     position: relative;
  //     grid-area: aside;
  //     height: var(--100svh, 100svh);
  //     transform: none;
  //     left: 0;
  //     width: 300px;
  //     justify-self: end;
  //   }
  // }
}
