@use '../vars';

@layer #{vars.$components-layer} {
  text-field {
    :where(&) {
      grid-template-columns: minmax(0, 1fr);

      grid-template-rows: minmax(0, 1fr);

      // padding-inline: var(--toolbaritempadistart,) var(--toolbaritempadiend,);
      // padding-block: var(--toolbaritempadbstart,) var(--toolbaritempadbend,);
    }

    :where(&)::part(text-field-stack) {
      // display: grid;

      grid-template-columns: auto minmax(0, 1fr);
      
      grid-template-rows: minmax(0, 1fr);

      column-gap: var(--labeled-content-column-gap);
    }

    :where(&)::part(text-field-label-stack) {
      // display: grid;
    }

    :where(&)::part(text-field-input-stack) {
      // display: grid;

      place-items: stretch;
      place-content: stretch;
    }

    :where(&)::part(text-field-form-input) {
      // display: grid;

      text-align: end;

      appearance: none;

      border: 0;

      outline: 0;

      padding-block: 0.1rem;

      padding-inline-start: 0.3rem;

      background-color: transparent;
    }
  }
}
