@use 'sass:string';
@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  toggle-view {
    :where(&) {
      grid-template-columns: minmax(0, 1fr);

      grid-template-rows: minmax(0, 1fr);

      --toggle--track-padding: 0.2rem;
      --toggle--track-bg: lightgray;

      --toggle--dot-size: 1.4rem;

      --toggle--dot-inset-inline-start: 0;
      --toggle--dot-inset-inline-end: 100%;

      // --toggle--dot-x: calc(var(--toggle--dot-size) / 2);
      --toggle--dot-x: 0px;
      --toggle--dot-transition-duration: 200ms;
      --toggle--dot-scale: scale(1);

      --toogle--track-brightness: brightness(1);

      &::part(toggle-stack) {
        grid-template-columns: minmax(0, 1fr) auto;

        grid-template-rows: minmax(0, 1fr);

        column-gap: var(--labeled-content-column-gap);
      }

      // &::part(toggle-label-stack) {
      //   // color: var(--secondary);
      //   padding-inline-start: var(--toggle-padding-inline-start,);
      // }

      &::part(toggle-input-stack) {
        // place-items: end;
        align-items: center;
        justify-items: end;

        place-content: stretch;
        align-self: flex-start;

        cursor: pointer;

        padding-inline: var(--toggle--track-padding);
        padding-block: var(--toggle--track-padding);
        border-radius: var(--pill-border-radius);
        background: var(--toggle--track-bg);

        transition: background-color var(--toggle--dot-transition-duration) ease-out;
      }

      &::part(toggle-track) {
        container: toggle-track / size;

        text-align: end;

        position: relative;

        outline: none;

        // display: grid;
        // outline: red solid 3px;
        border-radius: var(--pill-border-radius);
        inline-size: 4rem;
        block-size: var(--toggle--dot-size);
        background: var(--toggle--track-bg);

        filter: var(--toogle--track-brightness,);

        transition: background-color var(--toggle--dot-transition-duration) ease-out;

        touch-action: none; // prevent scrolling while dragging

        // appearance: none;

        // border: 0;

        // outline: 0;

        // padding: 0;

        // background-color: transparent;

        &:focus {
          // outline: blue solid 5px;
          // --toggle--track-bg: gray;

          --toogle--track-brightness: brightness(0.9);
        }

        &::before {
          content: '';

          display: grid;

          position: absolute;
          inset: 0 var(--toggle--dot-inset-inline-end) auto var(--toggle--dot-inset-inline-start);
          inline-size: var(--toggle--dot-size);
          block-size: var(--toggle--dot-size);
          border-radius: var(--pill-border-radius);
          // background: yellow;

          backdrop-filter: var(--liquid-glass-backdrop-filter);

          box-shadow: var(--liquid-glass-box-shadow);

          // inset-inline-start: var(--toggle--dot-x, calc(var(--toggle--dot-size) / 2));

          transition:
            inset-inline-start var(--toggle--dot-transition-duration) ease-out,
            inset-inline-end var(--toggle--dot-transition-duration) ease-out,
            transform var(--toggle--dot-transition-duration) ease-out,
            scale var(--toggle--dot-press-duration, 200ms) ease-out;

          transform: translateX(var(--toggle--dot-x));
          scale: var(--toggle--dot-scale,);

          transform-origin: center;
        }
      }
    }

    form & {
      :where(&)::part(toggle-label-stack) {
        color: var(--secondary);
      }
    }

    &[aria-checked='true'] {
      :where(&) {
        --toggle--track-bg: green;

        --toggle--dot-inset-inline-start: calc(100% - var(--toggle--dot-size));
        --toggle--dot-inset-inline-end: 0;
        // --toggle--dot-translate: translateX(calc(100cqi - var(--toggle--dot-size)));
        // --toggle--dot-x: calc(100% - var(--toggle--dot-size) / 2);
      }
    }

    > :nth-child(n + 2 of [slot='label']) {
      :where(&) {
        --label-font: callout;

        @supports not (x: #{string.unquote('if(else:red)')}) {
          @include mixins.set-label-font(callout);
        }

        // toggle-view:not(form toggle-view) & {
        //   color: var(--secondary);
        // }
      }
    }
    &:not(form &) {
      > :nth-child(n + 2 of [slot='label']) {
        :where(&) {
          color: var(--secondary);
        }
      }
    }
  }
}
