@use 'sass:string';
@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  toggle-view {
    :where(&) {
      grid-template-columns: minmax(0, 1fr);

      grid-template-rows: minmax(0, 1fr);

      --toggle--trigger-bg: lightgray;

      --toggle--dot-size: 1rem;

      --toggle--dot-x: calc(var(--toggle--dot-size) / 2);
      --toggle--dot-transition-duration: 200ms;

      &::part(toggle-stack) {
        grid-template-columns: minmax(0, 1fr) auto;

        grid-template-rows: minmax(0, 1fr);

        column-gap: var(--labeled-content-column-gap);
      }

      // &::part(toggle-label-stack) {
      //   // color: var(--secondary);
      //   padding-inline-start: var(--toggle-padding-inline-start,);
      // }

      &::part(toggle-input-stack) {
        // place-items: end;
        align-items: center;
        justify-items: end;

        place-content: stretch;
      }

      &::part(toggle-track) {
        text-align: end;

        position: relative;

        display: grid;
        outline: red solid 3px;
        border-radius: 2rem;
        inline-size: 4rem;
        block-size: 1rem;
        background: var(--toggle--trigger-bg);

        transition: background-color var(--toggle--dot-transition-duration) ease-out;

        touch-action: none; /* prevent scrolling while dragging */

        // appearance: none;

        // border: 0;

        // outline: 0;

        // padding: 0;

        // background-color: transparent;

        &:focus {
          outline: blue solid 5px;
        }

        &::before {
          content: '';

          display: grid;

          position: absolute;
          inset: 0 auto auto 0;
          inline-size: 1rem;
          block-size: 1rem;
          border-radius: 1rem;
          // background: yellow;

          backdrop-filter: var(--liquid-glass-backdrop-filter);

          box-shadow: var(--liquid-glass-box-shadow);

          inset-inline-start: var(--toggle--dot-x, calc(var(--toggle--dot-size) / 2));

          transition: inset-inline var(--toggle--dot-transition-duration) ease-out;

          transform: translate(-50%, 0);
        }
      }
    }

    form & {
      :where(&)::part(toggle-label-stack) {
        color: var(--secondary);
      }
    }

    &[aria-checked='true'] {
      :where(&) {
        --toggle--trigger-bg: green;

        --toggle--dot-x: calc(100% - var(--toggle--dot-size) / 2);
      }
    }

    > :nth-child(n + 2 of [slot='label']) {
      :where(&) {
        --label-font: callout;

        @supports not (x: #{string.unquote('if(else:red)')}) {
          @include mixins.set-label-font(callout);
        }

        // toggle-view:not(form toggle-view) & {
        //   color: var(--secondary);
        // }
      }
    }
    &:not(form &) {
      > :nth-child(n + 2 of [slot='label']) {
        :where(&) {
          color: var(--secondary);
        }
      }
    }
  }
}
