@use '../vars';
@use '../mixins';
@use 'sass:string';

@layer #{vars.$components-layer} {
  toggle-view {
    :where(&) {
      grid-template-columns: minmax(0, 1fr);

      grid-template-rows: minmax(0, 1fr);

      --toggle--trigger-bg: lightgray;

      &::part(toggle-stack) {
        grid-template-columns: auto minmax(0, 1fr);

        grid-template-rows: minmax(0, 1fr);

        column-gap: var(--labeled-content-column-gap);
      }

      // &::part(toggle-label-stack) {
      // color: var(--secondary);
      // }

      &::part(toggle-input-stack) {
        // place-items: end;
        align-items: center;
        justify-items: end;

        place-content: stretch;
      }

      &::part(toggle-form-input):focus {
        outline: blue solid 5px;
      }

      &::part(toggle-form-input) {
        text-align: end;

        position: relative;

        display: grid;
        outline: red solid 3px;
        border-radius: 2rem;
        inline-size: 4rem;
        block-size: 1rem;
        background: var(--toggle--trigger-bg);

        // appearance: none;

        // border: 0;

        // outline: 0;

        // padding: 0;

        // background-color: transparent;
      }

      &::part(toggle-form-input)::before {
        content: '';

        display: grid;

        position: absolute;
        inset: 0 auto auto 0;
        inline-size: 1rem;
        block-size: 1rem;
        border-radius: 1rem;
        // background: yellow;

        backdrop-filter: var(--liquid-glass-backdrop-filter);

        box-shadow: var(--liquid-glass-box-shadow);
      }
    }

    form & {
      :where(&)::part(toggle-label-stack) {
        color: var(--secondary);
      }
    }

    &[aria-checked='true'] {
      :where(&) {
        --toggle--trigger-bg: green;
      }
    }

    > :nth-child(n + 2 of [slot='label']) {
      :where(&) {
        --label-font: callout;

        @supports not (x: #{string.unquote('if(else:red)')}) {
          @include mixins.set-label-font(callout);
        }

        // toggle-view:not(form toggle-view) & {
        //   color: var(--secondary);
        // }
      }
    }
    &:not(form &) {
      > :nth-child(n + 2 of [slot='label']) {
        :where(&) {
          color: var(--secondary);
        }
      }
    }
  }
}
