@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  ::part(navigation-bar),
  ::part(bottom-bar) {
    position: relative; // SAFARI BUG

    // background-color: blue;
    box-shadow: inset 0 0 4px red;

    padding-inline: var(--safe-area-inset-left) var(--safe-area-inset-right);
    pointer-events: none;

    grid-template-columns: auto 1fr auto;
    column-gap: var(--toolbar-col-gap);
    // grid-auto-rows: 40px;

    grid-template-rows: 3rem;

    // place-items: center;
    // place-content: center;

    /* > * {
      pointer-events: all;

      // grid-template-columns: minmax(0, 1fr); //repeat(auto-fit, minmax(0, 1fr));
      // grid-template-rows: minmax(0, 1fr);

      // align-self: center;

      min-height: var(--toolbar-cell-min-size);
      min-width: var(--toolbar-cell-min-size);
      // height: 40px;
    } */
  }

  ::part(navigation-bar) {
    // padding-inline: calc(
    //     var(--safe-area-inset-left, 0px) + var(--navbar-area-inset-left, 0px)
    //   )
    //   calc(
    //     var(--safe-area-inset-right, 0px) + var(--navbar-area-inset-right, 0px)
    //   );

    // inset: 0 0 auto 0;
    grid-area: navigation-bar;

    height: calc(var(--safe-area-inset-top) + var(--navigation-bar-height));

    padding-block-start: var(--safe-area-inset-top);

    // dialog & {
    //   transform: translateY(max(-33cqw, -200px));
    //   inset: auto;
    // }
  }

  ::part(bottom-bar) {
    // padding-inline: calc(
    //     var(--safe-area-inset-left, 0px) + var(--toolbar-area-inset-left, 0px)
    //   )
    //   calc(
    //     var(--safe-area-inset-right, 0px) + var(--toolbar-area-inset-right, 0px)
    //   );

    // inset: auto 0 0 0;
    grid-area: bottom-bar;
    // background-color: blue;

    height: calc(var(--safe-area-inset-bottom) + var(--tool-bar-height));

    padding-block-end: var(--safe-area-inset-bottom);
  }

  ::part(#{vars.$toolbar-leading-stack-part-name}),
  ::part(#{vars.$toolbar-principal-stack-part-name}),
  ::part(#{vars.$toolbar-trailing-stack-part-name}) {
    display: grid;

    grid-auto-flow: column;
    grid-template-columns: minmax(0, 1fr);

    column-gap: var(--toolbar-col-gap);
  }

  @include mixins.if-ipad-sheet-fits {
    [is='sheet-view'] {
      ::part(navigation-bar),
      ::part(bottom-bar) {
        --safe-area-inset-left: 0px;
        --safe-area-inset-right: 0px;
        // padding-inline: 0;
      }

      ::part(navigation-bar) {
        --safe-area-inset-top: 0px;
        // padding-block-start: 0;
        // height: var(--navigation-bar-height);
      }

      ::part(bottom-bar) {
        --safe-area-inset-bottom: 0px;
        // padding-block-end: 0;
      }
    }
  }
}
