@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  tool-bar {
    :where(&) {
      pointer-events: none;

      touch-action: none;

      grid-template-columns: minmax(0, 1fr);
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        'navigation-bar'
        'spacer'
        'bottom-bar';
    }

    :where(& > *) {
      backdrop-filter: var(--liquid-glass-backdrop-filter);
      box-shadow: var(--toolbar-cell-box-shadow);

      min-width: var(--toolbar-cell-min-size);

      // tfo
      transform: var(--toolbar-cell-transform);
      filter: var(--toolbar-cell-filter);
      opacity: var(--toolbar-cell-opacity);

      // min-width: calc(var(--tool-bar-height) - var(--toolbar-cell-block-padding-start) - var(--toolbar-cell-block-padding-end));
    }

    :where(&)::part(navigation-bar),
    :where(&)::part(bottom-bar) {
      position: relative; // SAFARI BUG

      // background-color: blue;

      padding-inline: var(--safe-area-inset-left, 0px) var(--safe-area-inset-right, 0px);
      pointer-events: none;

      grid-template-columns: auto 1fr auto;
      column-gap: var(--toolbar-col-gap);
      // grid-auto-rows: 40px;

      grid-template-rows: var(--toolbar-cell-min-size);

      // place-items: center;
      place-content: center; // middle of y axis

      /* > * {
      pointer-events: all;

      // grid-template-columns: minmax(0, 1fr); //repeat(auto-fit, minmax(0, 1fr));
      // grid-template-rows: minmax(0, 1fr);

      // align-self: center;

      min-height: var(--toolbar-cell-min-size);
      min-width: var(--toolbar-cell-min-size);
      // height: 40px;
    } */
    }

    :where(&)::part(navigation-bar) {
      // padding-inline: calc(
      //     var(--safe-area-inset-left, 0px) + var(--navbar-area-inset-left, 0px)
      //   )
      //   calc(
      //     var(--safe-area-inset-right, 0px) + var(--navbar-area-inset-right, 0px)
      //   );

      // inset: 0 0 auto 0;
      grid-area: navigation-bar;

      height: calc(var(--safe-area-inset-top) + var(--navigation-bar-height));

      padding-block-start: var(--safe-area-inset-top);

      // dialog & {
      //   transform: translateY(max(-33cqw, -200px));
      //   inset: auto;
      // }
    }

    :where(&)::part(bottom-bar) {
      // padding-inline: calc(
      //     var(--safe-area-inset-left, 0px) + var(--toolbar-area-inset-left, 0px)
      //   )
      //   calc(
      //     var(--safe-area-inset-right, 0px) + var(--toolbar-area-inset-right, 0px)
      //   );

      // inset: auto 0 0 0;
      grid-area: bottom-bar;
      // background-color: blue;

      height: calc(var(--safe-area-inset-bottom) + var(--tool-bar-height));

      padding-block-end: var(--safe-area-inset-bottom);
    }

    :where(&)::part(#{vars.$toolbar-leading-stack-part-name}),
    :where(&)::part(#{vars.$toolbar-principal-stack-part-name}),
    :where(&)::part(#{vars.$toolbar-trailing-stack-part-name}) {
      display: grid;

      grid-auto-flow: column;
      grid-template-columns: minmax(0, 1fr);

      column-gap: var(--toolbar-col-gap);
    }

    @include mixins.if-ipad-sheet-fits {
      :where([is='sheet-view'] &)::part(navigation-bar),
      :where([is='sheet-view'] &)::part(bottom-bar) {
        --safe-area-inset-left: 0px;
        --safe-area-inset-right: 0px;
        // padding-inline: 0;
      }

      :where([is='sheet-view'] &)::part(navigation-bar) {
        --safe-area-inset-top: 0px;
        // padding-block-start: 0;
        // height: var(--navigation-bar-height);
      }

      :where([is='sheet-view'] &)::part(bottom-bar) {
        --safe-area-inset-bottom: 0px;
        // padding-block-end: 0;
      }
    }
  }
}

// @layer #{vars.$final-layer} {
//   tool-bar-item[slot^='navigation-bar'],
//   tool-bar-item-group[slot^='navigation-bar'] {
//     :where(& menu-view, & tool-bar-item-group[slot^='navigation-bar'] menu-view)::part(menu-dialog) {
//       // position-area: center block-end;
//     }
//   }

//   tool-bar-item[slot^='bottom-bar'],
//   tool-bar-item-group[slot^='bottom-bar'] {
//     :where(& menu-view, & menu-view)::part(menu-dialog) {
//       // position-area: center block-start;
//     }
//   }
// }
