@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  tool-bar-item-group {
    :where(&) {
      // pointer-events: all;

      grid-auto-flow: column;
      grid-template-columns: minmax(0, 1fr);
      column-gap: var(--toolbar-col-gap);

      background: var(--componentface);
      padding-inline: var(--toolbar-cell-inline-padding-start) var(--toolbar-cell-inline-padding-end);
      padding-block: var(--toolbar-cell-block-padding-start) var(--toolbar-cell-block-padding-end);
      border-radius: var(--toolbar-cell-border-radius);
      border-width: 0;

      // tab-item {
      // --componentpadistart: var(--toolbar-cell-inline-padding);
      // --componentpadbstart: var(--toolbar-cell-block-padding);
      // }
    }

    :where(& > *) {
      min-inline-size: calc(var(--toolbar-cell-min-size) - var(--toolbar-cell-block-padding-start) - var(--toolbar-cell-block-padding-end));
    }

    //
    // --componentface: white;
    // --componentpadistart: 5px;
    // --componentpadbstart: 5px;
    // --componentradius: 99999px;
    // --componentborder: 0;

    // button {
    //   // appearance: none;
    //   // -webkit-appearance: none;
    //   // box-shadow: none;
    //   // outline: 0;
    //   border: var(--componentborder);
    //   background-color: var(--componentface);
    //   padding-inline: var(--componentpadistart);
    //   padding-block: var(--componentpadbstart);
    //   border-radius: var(--componentradius);
    // }
  }
}
