@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  tool-bar {
    :where(&) {
      pointer-events: none;

      touch-action: none;

      color: var(--text,);

      grid-template-columns: minmax(0, 1fr);
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        'top-bar'
        'spacer'
        'bottom-bar';

      &::part(top-bar),
      &::part(bottom-bar) {
        position: relative; // SAFARI BUG

        padding-inline: var(--safe-area-inset-left, 0px) var(--safe-area-inset-right, 0px);
        pointer-events: none;

        grid-template-columns: auto 1fr auto;
        column-gap: var(--toolbar-col-gap);
        // grid-auto-rows: 40px;

        grid-template-rows: var(--toolbar-cell-min-size);

        // place-items: center;
        place-content: center; // middle of y axis
      }

      &::part(top-bar) {
        // padding-inline: calc(
        //     var(--safe-area-inset-left, 0px) + var(--navbar-area-inset-left, 0px)
        //   )
        //   calc(
        //     var(--safe-area-inset-right, 0px) + var(--navbar-area-inset-right, 0px)
        //   );

        grid-area: top-bar;

        block-size: calc(var(--safe-area-inset-top) + var(--navigation-bar-block-size));

        padding-block-start: var(--safe-area-inset-top);
      }

      &::part(bottom-bar) {
        // padding-inline: calc(
        //     var(--safe-area-inset-left, 0px) + var(--toolbar-area-inset-left, 0px)
        //   )
        //   calc(
        //     var(--safe-area-inset-right, 0px) + var(--toolbar-area-inset-right, 0px)
        //   );

        grid-area: bottom-bar;

        block-size: calc(var(--safe-area-inset-bottom) + var(--tool-bar-block-size));

        padding-block-end: var(--safe-area-inset-bottom);
      }

      &::part(toolbar-leading-stack),
      &::part(toolbar-principal-stack),
      &::part(toolbar-trailing-stack) {
        display: grid;

        grid-auto-flow: column;
        grid-template-columns: minmax(0, 1fr);

        column-gap: var(--toolbar-col-gap);

        padding-inline: var(--toolbar-col-gap) var(--toolbar-col-gap);
      }
    }

    :where(& > *:not(sidebar-toggle), & > sidebar-toggle > tool-bar-item, tab-view > sidebar-toggle > tool-bar-item, navigation-split-view > sidebar-toggle > tool-bar-item) {
      backdrop-filter: var(--liquid-glass-backdrop-filter);
      box-shadow: var(--toolbar-cell-box-shadow);

      min-inline-size: var(--toolbar-cell-min-size);

      // tfo
      transform: var(--toolbar-cell-scale,);
      filter: var(--toolbar-cell-filter,);
      opacity: var(--toolbar-cell-opacity,);

      // min-width: calc(var(--tool-bar-block-size) - var(--toolbar-cell-block-padding-start) - var(--toolbar-cell-block-padding-end));
    }

    @include mixins.if-ipad-sheet-fits {
      :where([is='sheet-view'] &)::part(top-bar),
      :where([is='sheet-view'] &)::part(bottom-bar) {
        --safe-area-inset-left: 0px;

        --safe-area-inset-right: 0px;
      }

      :where([is='sheet-view'] &)::part(top-bar) {
        --safe-area-inset-top: 0px;
      }

      :where([is='sheet-view'] &)::part(bottom-bar) {
        --safe-area-inset-bottom: 0px;
      }
    }

    // FIXME: Add live tooltip
    // NOTE: By default top bar items with icons, prefer only icon to be shown, (except if they define/force w/ labelStyle)
    > [slot^='top-bar-'],
    > [slot='cancellation-action'],
    > [slot='primary-action'],
    > [slot='confirmation-action'],
    > [slot='destructive-action'] {
      // > label-view,
      > button:has(> label-view > [slot='icon']) {
        :where(&) {
          --label-style: icon-only;
        }
      }
    }
    // NOTE: By default bottom bar items with icons on iphone, prefer only icon to be shown, (except if they define/force w/ labelStyle)
    @media (pointer: coarse) {
      > [slot^='bottom-bar-'] {
        > button:has(> label-view > [slot='icon']) {
          :where(&) {
            --label-style: icon-only;
          }
        }
      }
    }
  }
}

// @layer #{vars.$final-layer} {
//   tool-bar-item[slot^='top-bar'],
//   tool-bar-item-group[slot^='top-bar'] {
//     :where(& menu-view, & tool-bar-item-group[slot^='top-bar'] menu-view)::part(menu-dialog) {
//       // position-area: center block-end;
//     }
//   }

//   tool-bar-item[slot^='bottom-bar'],
//   tool-bar-item-group[slot^='bottom-bar'] {
//     :where(& menu-view, & menu-view)::part(menu-dialog) {
//       // position-area: center block-start;
//     }
//   }
// }
