@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  navigation-bar,
  bottom-bar {
    position: absolute;

    // background-color: blue;
    box-shadow: inset 0 0 4px red;

    padding-inline: var(--safe-area-inset-left) var(--safe-area-inset-right);

    pointer-events: none;

    grid-template-columns: auto 1fr auto;

    // place-items: center;
    // place-content: center;
    // align-items: stretch;
    // justify-items: center;
    // align-content: stretch;
    // justify-content: center;

    > * {
      pointer-events: all;

      align-self: center;
    }
  }

  navigation-bar {
    inset: 0 0 auto 0;

    height: calc(var(--safe-area-inset-top) + var(--navigation-bar-height));

    padding-block-start: var(--safe-area-inset-top);

    // dialog & {
    //   transform: translateY(max(-33cqw, -200px));
    //   inset: auto;
    // }
  }

  bottom-bar {
    inset: auto 0 0 0;

    height: calc(var(--safe-area-inset-bottom) + var(--tool-bar-height));

    padding-block-end: var(--safe-area-inset-bottom);
  }

  ::part(toolbar-leading-stack),
  ::part(toolbar-principal-stack),
  ::part(toolbar-trailing-stack) {
    display: grid;

    grid-auto-flow: column;
    grid-template-columns: minmax(0, 1fr);

    column-gap: var(--toolbar-col-gap);
  }

  @include mixins.if-ipad-sheet-fits {
    [is='sheet-view'] {
      navigation-bar,
      bottom-bar {
        --safe-area-inset-left: 0px;
        --safe-area-inset-right: 0px;
        // padding-inline: 0;
      }

      navigation-bar {
        --safe-area-inset-top: 0px;
        // padding-block-start: 0;
        // height: var(--navigation-bar-height);
      }

      bottom-bar {
        --safe-area-inset-bottom: 0px;
        // padding-block-end: 0;
      }
    }
  }
}
