@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  tool-bar-item {
    :where(&) {
      // moved from > * of old
      pointer-events: all;

      // min-height: var(--toolbar-cell-min-size);
      // min-width: var(--toolbar-cell-min-size);
      // moved from > * of old

      // background-color: red;
      // padding: 5px;
      border-radius: var(--pill-border-radius);

      // height: 40px;

      // pointer-events: all;
      // container-type: inline-size;

      //
      // --componentface: var(--toolbar-cell-bg);
      // --component-padding-inline: calc(var(--toolbar-cell-inline-padding) * 2);
      // --component-padding-block: calc(var(--toolbar-cell-block-padding) * 2);
      --component-border-radius: var(--toolbar-cell-border-radius);
      --component-border-width: 0;
    }

    :where(&:has([disabled])) {
      pointer-events: none;
    }
  }

  // picker-view[picker-style='inline'] > button,
  :where(
    sidebar-toggle > button,
    tool-bar-item > button,
    tool-bar-item > input,
    [is='tab-item'],
    list-view > button,
    menu-view > button,
    [is='disclosure-group'] > button,
    [is='disclosure-group'] > summary,
    [is='bordered-prominent']
  ),
  :where(menu-view)::part(menu-summary) {
    // display: grid;
    // place-items: center;
    // place-content: center;
    // container-type: inline-size;
    // > * {
    //   font-size: 100cqw;
    // }

    all: unset;
    display: grid;

    appearance: none;
    -webkit-appearance: none;
    // place-items: center;
    // place-content: center;

    // box-shadow: none;
    // outline: 0;
    border: var(--component-border-width,);
    background: var(--componentface,);
    color: var(--componenttext, var(--canvastext));
    padding-inline: var(--component-padding-inline,);
    padding-block: var(--component-padding-block,);
    border-radius: var(--component-border-radius,);
    min-inline-size: 25px; // NOTE: For inputs overflowing-x

    // &:not(:disabled):not([readonly]) {
    //   &:focus-visible {
    //     background-color: var(--toolbar-cell-focus-bg);
    //   }
    //   // order matters! BEFORE active
    //   @media (pointer: fine) {
    //     &:hover {
    //       background-color: var(--toolbar-cell-focus-bg);
    //     }
    //   }
    //   // order matters! AFTER hover/fvisible
    //   &:active {
    //     background-color: var(--toolbar-cell-active-bg);
    //   }
    // }
  }

  // NOTE: MUST be right-after the above `all: unset` in this SAME page!
  tool-bar-item {
    :where(& > button),
    :where(& > menu-view)::part(menu-summary) {
      place-items: center;
      place-content: center;
    }
  }

  // tool-bar-item[slot],
  // tool-bar-item-group {
  // @media (prefers-reduced-motion: no-preference) {
  //   transition:
  //     display var(--menu-animation-duration) allow-discrete ease-out,
  //     overlay var(--menu-animation-duration) allow-discrete ease-out,
  //     transform var(--menu-animation-duration) allow-discrete ease-out;
  //   will-change: transform, overlay, display;
  // }
  // }

  // tool-bar-item {
  // min-height: var(--toolbar-cell-min-size);
  // min-width: var(--toolbar-cell-min-size);
  // }
}

@layer #{vars.$colors-layer} {
  sidebar-toggle > button,
  tool-bar-item > button,
  tool-bar-item > input,
  [is='tab-item'],
  list-view > button,
  menu-view > button,
  [is='disclosure-group'] > button,
  [is='disclosure-group'] > summary {
    &:not(:disabled):not([readonly]) {
      :where(&) {
        @include mixins.add-focus-visible-state {
          --componentface: light-dark(var(--toolbar-cell-focus-bg), var(--toolbar-cell-focus-bg-dark));
        }
      }
    }
  }

  menu-view {
    &:not(:disabled):not([readonly]) {
      :where(&) {
        @include mixins.add-focus-visible-state('::part(menu-summary)') {
          --componentface: light-dark(var(--toolbar-cell-focus-bg), var(--toolbar-cell-focus-bg-dark));
        }
      }

      > button {
        :where(&) {
          --component-padding-inline: 0.3rem;
          --component-padding-block: 0.3rem;
        }
      }
    }
  }

  list-view > button,
  [is='form-view'] > button {
    &:not(:disabled):not([readonly]) {
      :where(&) {
        --component-padding-inline: 0.3rem;
        --component-padding-block: 0.3rem;
      }
    }
  }
}

@layer #{vars.$ui-layer} {
  sidebar-toggle > button,
  tool-bar-item > button,
  tool-bar-item > input,
  [is='tab-item'],
  list-view > button,
  menu-view > button,
  [is='disclosure-group'] > summary,
  [is='disclosure-group'] > button {
    &:not(:disabled):not([readonly]) {
      :where(&) {
        @include mixins.add-active-state {
          --componentface: light-dark(var(--toolbar-cell-active-bg), var(--toolbar-cell-active-bg-dark));
        }
      }
    }
  }

  menu-view {
    &:not(:disabled):not([readonly]) {
      :where(&) {
        @include mixins.add-active-state('::part(menu-summary)') {
          --componentface: light-dark(var(--toolbar-cell-active-bg), var(--toolbar-cell-active-bg-dark));
        }
      }
    }
  }

  :where(tool-bar-item[slot]:has(menu-view[open])),
  :where(tool-bar-item-group:has(> tool-bar-item menu-view[open])) {
    --toolbar-cell-scale: var(--menu-host-offscreen-transform);
    --toolbar-cell-filter: var(--menu-host-offscreen-filter);
  }
}
