@use '../vars';

@layer #{vars.$components-layer} {
  v-stack {
    :where(&) {
      // display: flex;
      // flex-flow: column wrap;
      grid-template-columns: minmax(0, 1fr);

      place-items: center;
      place-content: center;
    }

    > * {
      :where(&) {
        max-width: 100%;
        // align-self: start;
      }
    }
  }
}
