@use '../vars';

@layer #{vars.$components-layer} {
  v-stack {
    :where(&) {
      grid-template-columns: minmax(0, 1fr);

      place-items: safe center;
      place-content: safe center;

      gap: 1rem;
    }

    // :where(& > *) {
    // max-width: 100%;
    // }
  }
}
