@use '../vars';
@use '../mixins';

@layer #{vars.$final-layer} {
  @media (pointer: coarse) {
    menu-view {
      :where(&[touch-glass])::part(menu-dialog) {
        --menu-dialog-scale: scale(1.02);
        transition-duration: 100ms;
      }
    }

    tool-bar {
      :where(& > *[touch-glass]) {
        --toolbar-cell-scale: scale(1.07);
        transition-duration: 100ms;
      }
    }

    [is='tab-bar'] {
      @include mixins.if-iphone-portrait {
        :where(&[touch-glass]) {
          --tab-bar-scale: scale(1.02);
          transition-duration: 100ms;
        }
      }
      @include mixins.if-iphone-landscape {
        :where(&[touch-glass]) {
          --tab-bar-scale: scale(1.02);
          transition-duration: 100ms;
        }
      }
      @include mixins.if-ipad-landscape {
        :where(&[touch-glass]) {
          --tab-bar-scale: scale(1.02);
          transition-duration: 100ms;
        }
      }
    }

    navigation-split-view {
      &:has(> dialog[is='sidebar-view']) {
        @include mixins.if-2col-split-view-fits {
          :where(& > dialog[is='sidebar-view'][touch-glass]) {
            --sidebar-view-scale: scale(1.02);
            transition-duration: 100ms;
          }
        }
      }
    }
  }
}
