@use 'vars';

@mixin span-all {
  grid-column: 1 / -1; // span all columns
  grid-row: 1 / -1; // span all rows
}

@mixin make-scrollable {
  & > * {
    @include span-all;
    // grid-column: 1 / -1; // span all columns
    // grid-row: 1 / -1; // span all rows
  }

  &::before {
    @include span-all;
    // grid-column: 1 / -1; // span all columns
    // grid-row: 1 / -1; // span all rows
    content: '';
    display: block;
    height: calc(100% + 1px); /* creates overflow */
    // background-color: red;
    z-index: -1;
    pointer-events: none;
  }
}

@mixin contain-overscroll() {
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

@mixin reset-dialog {
  // position: absolute;
  inset-inline: 0px;
  inset-block: 0px; //inset-inline-start: 0px;
  // width: fit-content;
  // height: fit-content;
  margin: 0px; //margin-top: auto;
  border: none; //border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;
  padding: 0px; //padding-top: 1em;
  background-color: transparent; //background-color: canvas;
  color: var(--primary-text); //color: canvastext;
  // display: none;

  // dialog:modal {
  // position: fixed;
  // overflow-x: auto;
  // overflow-y: auto;
  // inset-block-start: 0px;
  max-width: 100lvw; //max-width: calc(100% - 2em - 6px);
  max-height: 100lvh; //max-height: calc(100% - 2em - 6px);
  // visibility: visible;
  // }

  outline: none;
}

@mixin make-navbar($dir: bottom) {
  &:before,
  &:after {
    backface-visibility: hidden;

    content: '';
    inset: 0;
    position: absolute;
    pointer-events: none;

    z-index: -1;
  }

  &:before {
    backdrop-filter: blur(2px);
    mask-image: linear-gradient(to #{$dir}, #000 50%, #0000 100%);
  }

  &:after {
    background-image: linear-gradient(
      to #{$dir},
      var(--surface-bg) 0,
      #0000 100%
    );
  }
}

@mixin toolbar-item-vt-state($transform, $filter, $opacity) {
  transform: $transform;
  filter: $filter;
  opacity: $opacity;
}

@mixin if-iphone-landscape {
  @media (max-width: #{vars.$ipad-landscape-bp-max}) and (orientation: landscape) {
    @content;
  }
}

@mixin if-iphone-portrait {
  @media (max-width: #{vars.$ipad-portrait-bp-max}) and (orientation: portrait) {
    @content;
  }
}

@mixin if-ipad-landscape {
  @media (min-width: #{vars.$ipad-landscape-bp-min}) and (orientation: landscape) {
    @content;
  }
}

@mixin if-ipad-portrait {
  @media (min-width: #{vars.$ipad-portrait-bp-min}) and (orientation: portrait) {
    @content;
  }
}

@mixin if-ipad-sheet-fits {
  @media (min-width: #{vars.$ipad-sheet-view-width}) and (min-height: #{vars.$ipad-sheet-view-height}) {
    @content;
  }
}

@mixin if-2col-split-view-fits {
  @media (min-width: #{vars.$nav-split-view-2col-bp-min}) {
    @content;
  }
}

@mixin if-3col-split-view-fits {
  @media (min-width: #{vars.$nav-split-view-3col-bp-min}) {
    @content;
  }
}

@mixin ifnot-2col-split-view-fits {
  @media (max-width: #{vars.$nav-split-view-2col-bp-max}) {
    @content;
  }
}

@mixin ifnot-3col-split-view-fits {
  @media (max-width: #{vars.$nav-split-view-3col-bp-max}) {
    @content;
  }
}
