@use 'functions';
@use 'sass:math';

$base-layer: base !default;
$components-layer: components !default;
$colors-layer: colors !default;
$ui-layer: actions !default;
$transitions-layer: transitions !default;
$final-layer: final !default;

$vt-fwd-class-name: fwd !default;

$disclosure-group-contents-height-css-prop: --disclosure-group-contents-height !default;
$disclosure-group-animation-duration-css-prop: --disclosure-group-animation-duration !default;
$disclosure-group-animation-close-class: close !default;

$sidebar-toggle-padding-inline-start-css-prop: --sidebar-toggle-padding-inline-start !default;

$nav-split-view-2col-bp: 43rem !default;
$nav-split-view-3col-bp: 56rem !default;

// $ipad-sheet-view-width: 12rem !default;
$ipad-sheet-view-width: 37rem !default;

$ipad-sheet-view-aspect-ratio: math.div(4, 3) !default;

$sidebar-transition-duration: 250ms !default;

// $ipad-portrait-bp: 20rem !default;
$ipad-portrait-bp: 43rem !default;

// $ipad-landscape-bp: 30rem !default;
$ipad-landscape-bp: 68rem !default;

// computed

$ipad-portrait-bp-max: #{functions.subtract-tiny($ipad-portrait-bp)};
$ipad-portrait-bp-min: $ipad-portrait-bp;
$ipad-landscape-bp-max: #{functions.subtract-tiny($ipad-landscape-bp)};
$ipad-landscape-bp-min: $ipad-landscape-bp;

$ipad-sheet-view-height: math.div(
  $ipad-sheet-view-width,
  $ipad-sheet-view-aspect-ratio
); //4/3

$nav-split-view-2col-bp-max: #{functions.subtract-tiny($nav-split-view-2col-bp)};
$nav-split-view-2col-bp-min: $nav-split-view-2col-bp;
$nav-split-view-3col-bp-max: #{functions.subtract-tiny($nav-split-view-3col-bp)};
$nav-split-view-3col-bp-min: $nav-split-view-3col-bp;

@debug $ipad-portrait-bp-max;

// checks

@if ($ipad-portrait-bp < $ipad-sheet-view-width) {
  @warn "$ipad-sheet-view-width should not be larger than $ipad-portrait-bp! Breaks centering";
}

@if ($nav-split-view-3col-bp < $nav-split-view-2col-bp) {
  @warn "$nav-split-view-2col-bp should not be larger than $nav-split-view-3col-bp!";
}
