@layer final {
  #console {
    position: fixed;
    left: 30%;
    bottom: 50%;
    z-index: 999999999;
  }

  #tb {
    position: fixed;
    box-shadow: inset 0 0 0 12px greenyellow;
    top: env(titlebar-area-y);
    width: env(titlebar-area-width);
    left: env(titlebar-area-x);
    height: env(titlebar-area-height);
    z-index: 999999999;
  }

  #sa {
    position: fixed;
    box-shadow: inset 0 0 0 10px green;
    inset: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    z-index: 999999999;
  }

  #kb {
    display: grid;
    position: fixed;
    box-shadow: inset 0 0 0 8px red;
    background-color: rosybrown;
    top: env(keyboard-inset-top, var(--keyboard-inset-top));
    /* right: env(keyboard-inset-right, 0); */
    left: env(keyboard-inset-left, 0);
    /* bottom: env(keyboard-inset-bottom, 0px); */
    height: env(keyboard-inset-height, var(--keyboard-inset-height));
    width: env(keyboard-inset-width, 100lvw);
    z-index: 999999999;
  }

  #dv {
    position: fixed;
    box-shadow: inset 0 0 0 6px blue;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    z-index: 999999999;
  }
  #sv {
    position: fixed;
    box-shadow: inset 0 0 0 4px magenta;
    top: 0svh;
    left: 0svw;
    width: 100svw;
    height: 100svh;
    z-index: 999999999;
  }
  #lv {
    position: fixed;
    box-shadow: inset 0 0 0 2px maroon;
    top: 0lvh;
    left: 0lvw;
    width: 100lvw;
    height: 100lvh;
    z-index: 999999999;
  }

  :root {
    --primary-bg: aliceblue;
    --secondary-bg: burlywood;
  }

  sidebar-toggle {
    box-shadow: inset 0 0 0 4px coral;
  }

  ::part(label-image-stack) {
    box-shadow: inset 0 0 0 4px coral;
  }

  v-stack {
    box-shadow: inset 0 0 0 2px magenta;
  }

  ::part(navigation-bar),
  ::part(bottom-bar) {
    box-shadow: inset 0 0 4px red;
  }

  scroll-view {
    box-shadow: inset 0 0 0 2px cyan;
  }

  ::part(scroll-view-navbar-stack),
  ::part(scroll-view-toolbar-stack) {
    &::before {
      height: 29px;
      background: green;
    }

    &::after {
      height: 29px;
      background: darkgoldenrod;
    }
  }

  body-view {
    --primary-bg: oklch(0.984 0.019 200.873);
    --secondary-bg: oklch(0.984 0.019 200.873);
  }

  body-view > body-view {
    --primary-bg: oklch(0.956 0.045 203.388);
    --secondary-bg: oklch(0.956 0.045 203.388);
  }

  body-view > body-view > body-view {
    --primary-bg: oklch(0.917 0.08 205.041);
    --secondary-bg: oklch(0.917 0.08 205.041);
  }

  body-view > body-view > body-view > body-view {
    --primary-bg: oklch(0.865 0.127 207.078);
    --secondary-bg: oklch(0.865 0.127 207.078);
  }

  body-view > body-view > body-view > body-view > body-view {
    --primary-bg: oklch(0.789 0.154 211.53);
    --secondary-bg: oklch(0.789 0.154 211.53);
  }

  body-view > body-view > body-view > body-view > body-view {
    --primary-bg: oklch(0.715 0.143 215.221);
    --secondary-bg: oklch(0.715 0.143 215.221);
  }

  body-view > body-view > body-view > body-view > body-view > body-view {
    --primary-bg: oklch(0.609 0.126 221.723);
    --secondary-bg: oklch(0.609 0.126 221.723);
  }

  body-view > body-view > body-view > body-view > body-view > body-view > body-view {
    --primary-bg: oklch(0.52 0.105 223.128);
    --secondary-bg: oklch(0.52 0.105 223.128);
  }

  body-view > body-view > body-view > body-view > body-view > body-view > body-view > body-view {
    --primary-bg: oklch(0.45 0.085 224.283);
    --secondary-bg: oklch(0.45 0.085 224.283);
  }

  body-view > body-view > body-view > body-view > body-view > body-view > body-view > body-view > body-view {
    --primary-bg: oklch(0.398 0.07 227.392);
    --secondary-bg: oklch(0.398 0.07 227.392);
  }

  body-view > body-view > body-view > body-view > body-view > body-view > body-view > body-view > body-view > body-view {
    --primary-bg: oklch(0.302 0.056 229.695);
    --secondary-bg: oklch(0.302 0.056 229.695);
  }
}
