@use 'sass:math';
@use '../vars';

$self-map: (
  leading: start,
  center: center,
  trailing: end,
  fill: stretch,
);

@layer #{vars.$utils-layer} {
  :where([frame\:width='infinity']) {
    inline-size: 100%;
  }
  :where([frame\:max-width='infinity']) {
    max-inline-size: 100%;
  }
  @for $i from 0 through 100 {
    :where([frame\:width='#{$i}']) {
      max-inline-size: #{$i}rem;
    }
    :where([frame\:max-width='#{$i}']) {
      max-inline-size: #{$i}rem;
    }
    :where([frame\:width='#{$i}cqi']) {
      max-inline-size: #{$i}cqi;
    }
    :where([frame\:max-width='#{$i}cqi']) {
      max-inline-size: #{$i}cqi;
    }
  }

  // per-child override — analogous to SwiftUI's .frame(alignment:) on one child.
  // only direct children matter here since only direct children are grid items.

  // v-stack/ALL: cross axis is inline (horizontal) -> justify-self (grid is by default auto-flow-row)
  scroll-view,
  v-stack {
    @each $k, $v in $self-map {
      :where(& > [frame\:alignment='#{$k}']) {
        justify-self: #{$v};
      }
      :where(& > [frame\:anchor='#{$k}']) {
        align-self: #{$v};
      }
    }
  }

  // // h-stack: cross axis is block (vertical) -> align-self
  h-stack {
    @each $k, $v in $self-map {
      :where(& > [frame\:alignment='#{$k}']) {
        align-self: #{$v};
      }
      :where(& > [frame\:anchor='#{$k}']) {
        justify-self: #{$v};
      }
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    :where([slow]) {
      visibility: visible;

      transition: opacity 250ms ease-out allow-discrete;
      will-change: opacity;
    }

    :where([slow='hide']) {
      opacity: 0;

      @starting-style {
        opacity: 1;
      }
    }

    :where([slow='show']) {
      opacity: 1;

      @starting-style {
        opacity: 0;
      }
    }
  }
}

@layer #{vars.$components-layer} {
  // readable 2/2
  v-stack {
    :where(&[readable]) {
      inline-size: 100%; //->[frame\:width='infinity']
      justify-self: center; //->[frame\:alignment='center'];
    }
    @for $i from 0 through 100 {
      :where(&[readable='#{$i}']) {
        max-inline-size: #{$i}rem; //->[frame:max-width='{length}'`]
      }
      :where(&[readable='#{$i}cqi']) {
        max-inline-size: #{$i}cqi; //->[frame:max-width='{length}'`]
      }
    }
  }
}
