@use '../vars';

@layer #{vars.$utils-layer} {
  [background-style='grouped'] {
    :where(&) {
      --background: var(--groupedBackground);
      --secondaryBackground: var(--secondaryGroupedBackground);
      --tertiaryBackground: var(--tertiaryGroupedBackground);

      --face: var(--background);
      // --face2: var(--secondaryBackground);
      // --face3: var(--tertiaryBackground);
    }

    // FIXME: feat-sheet 2/3
    [is='sheet-view'] &,
    [is='full-screen'] &,
    [is='confirmation-dialog'] &,
    [is='alert-dialog'] & {
      :where(&) {
        // --background: var(--secondaryGroupedBackground);
        // --secondaryBackground: var(--secondaryGroupedBackground);
        // --tertiaryBackground: var(--tertiaryGroupedBackground);
      }
    }
  }

  :where([foreground='secondary']) {
    color: var(--secondary);
  }

  :where([foreground='blue']) {
    color: var(--blue);
  }

  :where([foreground='blue.secondary']) {
    color: var(--blue2);
  }

  @each $tint in gray, blue, red, green {
    [tint='"" + $tint'],
    [list-item-tint='"" + $tint'] {
      :where(&) {
        --accentColorEffective: var(--#{$tint});
        --accentColorEffective4: var(--#{$tint}4);

        --accentColor: var(--#{$tint});
        --accentColor2: var(--#{$tint}2);
        --accentColor3: var(--#{$tint}3);
        --accentColor4: var(--#{$tint}4);
        --accentColor5: var(--#{$tint}5);
      }

      // :where(&[is='bordered-button']) {
      //   --accentSubtle: var(--red4);
      // }
    }
  }
}
