@use '../vars';
@use 'sass:math';
@use 'sass:map';
@use 'sass:list';

@layer #{vars.$utils-layer} {
  // NOTE: Spacing utils are NOT wrapped in `:where` selectors, to override tailwind or other resets!
  @for $i from 0 through 50 {
    [padding-horizontal='#{$i}'] {
      padding-inline: #{math.div(math.round(math.div($i, 10) * 10), 10)}rem;
    }

    [padding-vertical='#{$i}'] {
      padding-block: #{math.div(math.round(math.div($i, 10) * 10), 10)}rem;
    }

    [margin-horizontal='#{$i}'] {
      margin-inline: #{math.div(math.round(math.div($i, 10) * 10), 10)}rem;
    }

    [margin-vertical='#{$i}'] {
      margin-block: #{math.div(math.round(math.div($i, 10) * 10), 10)}rem;
    }
  }
}
