@use '../vars';
@use 'sass:math';
@use 'sass:map';
@use 'sass:list';

// $h-map: (
//   leading: start,
//   center: center,
//   trailing: end,
//   fill: stretch, // cross-axis stretch
// );

// $v-map: (
//   top: start,
//   center: center,
//   bottom: end,
//   fill: stretch, // cross-axis stretch
// );

// $placement-map: (
//   top-leading: start start,
//   top: start center,
//   top-trailing: start end,
//   center-leading: center start,
//   center: center center,
//   center-trailing: center end,
//   bottom-leading: end start,
//   bottom: end center,
//   bottom-trailing: end end,
// );

// $alignment-map: (
//   leading: start,
//   center: center,
//   trailing: end,
//   fill: stretch, // cross-axis stretch
// );

// $distribution-map: (
//   top: start,
//   center: center,
//   bottom: end,
//   fill: stretch,
//   between: space-between,
//   evenly: space-evenly,
// );

$inline-map: (
  leading: (
    (justify-items (start)),
    (justify-content (start)),
  ),
  'leading fill': (
    (justify-items (start)),
    (justify-content (stretch)),
  ),
  center: (
    (justify-items (safe center)),
    (justify-content (safe center)),
  ),
  trailing: (
    (justify-items (end)),
    (justify-content (end)),
  ),
  fill: (
    (justify-items (stretch)),
    (justify-content (stretch)),
  ),
  space-between: (
    (justify-content (space-between)),
  ),
);

$block-map: (
  leading: (
    (align-items (start)),
    (align-content (start)),
  ),
  'leading fill': (
    (align-items (start)),
    (align-content (stretch)),
  ),
  center: (
    (align-items (center)),
    (align-content (center)),
  ),
  trailing: (
    (align-items (end)),
    (align-content (end)),
  ),
  fill: (
    (align-items (stretch)),
    (align-content (stretch)),
  ),
  space-between: (
    (align-content (space-between)),
  ),
);

$h-placement-map: (
  'fill leading': (
    (place-items (start stretch)),
    (place-content (start stretch)),
  ),
  'fill space-between': (
    (align-content (space-between)),
    (justify-items (stretch)),
    (justify-content (stretch)),
  ),
);

$v-placement-map: (
  'fill': (
    (place-items (stretch)),
    (place-content (stretch)),
  ),
  'leading fill': (
    (place-items (start stretch)),
    (place-content (start stretch)),
  ),
  'space-between fill': (
    (align-content (space-between)),
    (justify-items (stretch)),
    (justify-content (stretch)),
  ),
);

@layer #{vars.$utils-layer} {
  // Vertical alignment becomes the common tweak
  h-stack,
  v-flex-stack {
    // main axis (horizontal/inline)
    @each $k, $declarations in $inline-map {
      &[distribution='#{$k}'] {
        @each $decl in $declarations {
          #{list.nth($decl, 1)}: #{list.join(list.nth($decl, 2), ' ')}; //#{list.nth($decl, 2)};
        }
      }
    }

    // cross axis (vertical/block)
    @each $k, $declarations in $block-map {
      &[alignment='#{$k}'] {
        @each $decl in $declarations {
          #{list.nth($decl, 1)}: #{list.join(list.nth($decl, 2), ' ')}; //#{list.nth($decl, 2)};
        }
      }
    }

    // placement="fill leading" -> short cut for distribution="fill" alignment="leading"
    @each $k, $declarations in $h-placement-map {
      &[placement='#{$k}'] {
        @each $decl in $declarations {
          #{list.nth($decl, 1)}: #{list.join(list.nth($decl, 2), ' ')};
        }
      }
    }

    // @each $k, $v in $alignment-map {
    //   &[align='#{$k}'] {
    //     justify-items: $v;
    //   }
    // }

    // @each $k, $v in $distribution-map {
    //   &[distribute='#{$k}'] {
    //     justify-content: $v;
    //   }
    // }
  }

  // Horizontal alignment becomes the common tweak
  v-stack,
  h-flex-stack {
    // block dir for items+content
    @each $k, $declarations in $block-map {
      &[distribution='#{$k}'] {
        @each $decl in $declarations {
          #{list.nth($decl, 1)}: #{list.join(list.nth($decl, 2), ' ')}; //#{list.nth($decl, 2)};
        }
      }
    }

    // inline dir for items+content
    @each $k, $declarations in $inline-map {
      &[alignment='#{$k}'] {
        @each $decl in $declarations {
          #{list.nth($decl, 1)}: #{list.join(list.nth($decl, 2), ' ')}; //#{list.nth($decl, 2)};
        }
      }
    }

    // placement="leading fill" -> shortcut for distribution="leading" alignment="fill"
    @each $k, $declarations in $v-placement-map {
      &[placement='#{$k}'] {
        @each $decl in $declarations {
          #{list.nth($decl, 1)}: #{list.join(list.nth($decl, 2), ' ')};
        }
      }
    }

    // @each $k, $v in $alignment-map {
    //   &[align='#{$k}'] {
    //     align-items: $v;
    //   }
    // }

    // @each $k, $v in $distribution-map {
    //   &[distribute='#{$k}'] {
    //     align-content: $v;
    //   }
    // }
  }

  v-stack {
    // $spaces: 0, 1, 2, 3, 4;
    // @each $s in $spaces {
    @for $i from 0 through 50 {
      :where(&[spacing='#{$i}']) {
        gap: #{math.div(math.round(math.div($i, 10) * 10), 10)}rem;
      }
    }

    :where(&[frame\:alignment='center']) {
      justify-self: center;
    }
  }

  // padding reserved word for stacks
  v-stack,
  h-stack,
  h-flex-stack,
  v-flex-stack {
    :where(&[padding]) {
      padding-inline: 1rem;
    }

    :where(scroll-view > &[padding]) {
      padding-block-end: 1rem;
    }

    // all direct children (excluding stacks) of stacks get margins, also some special cases like a details>summary[padding] etc.
    :where(& > [padding]:not(&), & > [is='disclosure-group'] > summary[padding]) {
      margin-inline: 1rem;
    }
  }
}
