@use 'sass:math';
@use 'sass:map';
@use 'sass:list';
@use '../vars';
@use '../maps';

@layer #{vars.$utils-layer} {
  // Vertical alignment becomes the common tweak
  h-stack,
  v-flex-stack {
    // main axis (horizontal/inline)
    @each $k, $declarations in maps.$inline-map {
      &[distribution='#{$k}'] {
        @each $decl in $declarations {
          #{list.nth($decl, 1)}: #{list.join(list.nth($decl, 2), ' ')}; //#{list.nth($decl, 2)};
        }
      }
    }

    // cross axis (vertical/block)
    @each $k, $declarations in maps.$block-map {
      &[alignment='#{$k}'] {
        @each $decl in $declarations {
          #{list.nth($decl, 1)}: #{list.join(list.nth($decl, 2), ' ')}; //#{list.nth($decl, 2)};
        }
      }
    }

    // placement="fill leading" -> short cut for distribution="fill" alignment="leading"
    @each $k, $declarations in maps.$inline-placement-map {
      &[placement='#{$k}'] {
        @each $decl in $declarations {
          #{list.nth($decl, 1)}: #{list.join(list.nth($decl, 2), ' ')};
        }
      }
    }

    // @each $k, $v in $alignment-map {
    //   &[align='#{$k}'] {
    //     justify-items: $v;
    //   }
    // }

    // @each $k, $v in $distribution-map {
    //   &[distribute='#{$k}'] {
    //     justify-content: $v;
    //   }
    // }
  }

  // Horizontal alignment becomes the common tweak
  v-stack,
  h-flex-stack {
    // block dir for items+content
    @each $k, $declarations in maps.$block-map {
      &[distribution='#{$k}'] {
        @each $decl in $declarations {
          #{list.nth($decl, 1)}: #{list.join(list.nth($decl, 2), ' ')}; //#{list.nth($decl, 2)};
        }
      }
    }

    // inline dir for items+content
    @each $k, $declarations in maps.$inline-map {
      &[alignment='#{$k}'] {
        @each $decl in $declarations {
          #{list.nth($decl, 1)}: #{list.join(list.nth($decl, 2), ' ')}; //#{list.nth($decl, 2)};
        }
      }
    }

    // placement="leading fill" -> shortcut for distribution="leading" alignment="fill"
    @each $k, $declarations in maps.$block-placement-map {
      &[placement='#{$k}'] {
        @each $decl in $declarations {
          #{list.nth($decl, 1)}: #{list.join(list.nth($decl, 2), ' ')};
        }
      }
    }

    // @each $k, $v in $alignment-map {
    //   &[align='#{$k}'] {
    //     align-items: $v;
    //   }
    // }

    // @each $k, $v in $distribution-map {
    //   &[distribute='#{$k}'] {
    //     align-content: $v;
    //   }
    // }
  }

  v-stack,
  h-stack {
    // $spaces: 0, 1, 2, 3, 4;
    // @each $s in $spaces {
    @for $i from 0 through 50 {
      :where(&[spacing='#{$i}']) {
        gap: #{math.div(math.round(math.div($i, 10) * 10), 10)}rem;
      }
    }

    // :where(&[frame\:alignment='leading']) {
    //   justify-self: start;
    // }
    // :where(&[frame\:alignment='center']) {
    //   justify-self: center;
    // }
  }

  // padding reserved word for stacks
  v-stack,
  h-stack,
  h-flex-stack,
  v-flex-stack {
    :where(&[padding]) {
      padding-inline: 1rem;
    }

    :where(scroll-view > &[padding]) {
      padding-block-end: 1rem;
    }

    // all direct children (excluding stacks) of stacks get margins, also some special cases like a details>summary[padding] etc.
    :where(& > [padding]:not(&, sticky-container), & > [is='disclosure-group'] > summary[padding]) {
      margin-inline: 1rem;
    }

    :where(& > sticky-container) {
      padding-inline: 1rem;
    }
  }
}
