@use '../vars';

@layer #{vars.$transitions-layer} {
  scroll-view {
    &.bwd {
      // visibility: collapse;

      transform: translateX(var(--view-transition-trailing-x));

      // @starting-style {
      // transform: translateX(0%);
      // }
    }

    &.bwdd {
      // visibility: visible;

      ~ body-view,
      ~ navigation-stack {
        pointer-events: none;
      }

      // IMPORTANT: This requires `!important` bc/ css does not enforce this over the general keep-things-stacked-offscreen rule.
      transform: translateX(var(--view-transition-principal-x));

      // @starting-style {
      // transform: translateX(-70%);
      // }
    }

    &.bwdd.bwd {
      transform: translateX(var(--view-transition-trailing-x));
    }

    // [is='sheet-view'] > &.bwd {
    //   transform: translateY(100lvh);
    // }
  }

  // scroll-view.fwdd.bwd {
  //   transform: translateX(var(--view-transition-principal-x));
  // }
}
