@use '../vars';
@use '../mixins';

@layer #{vars.$transitions-layer} {
  @media (prefers-reduced-motion: no-preference) {
    fine-tooltip {
      :where(&) {
        transition:
          opacity 150ms allow-discrete ease-out,
          transform 150ms allow-discrete ease-out;
        transition-delay: 200ms;
        will-change: opacity, transform;
      }

      :where(&[closing]) {
        transition-duration: 100ms;
        transition-delay: 0ms;
      }
    }
  }
}
