@use '../vars';

@layer #{vars.$transitions-layer} {
  // principal-stack > tool-bar-item {
  //   position: absolute;
  //   transition: transform 2s ease-out;
  // }

  // ::slotted(tool-bar-item) {
  //   background-color: red;
  // }

  // toolbar {
  //   display: grid;
  //   grid-auto-flow: column;
  //   column-gap: 10px;
  //   grid-column: 1 / -1; // span all columns
  //   grid-row: 1 / -1; // span all rows
  // }

  tool-bar-item,
  tool-bar-item-group {
    &.fwn {
      // BUG: Safari doesn't enforce scaling without this here again redundantly!
      transform: scale(var(--view-transition-toolbar-cell-offscreen-scale));
      filter: blur(10px);
      opacity: 0;

      // @starting-style {
      // transform: scale(1);
      // opacity: 1;
      // }
    }

    &.fwnn {
      transform: scale(var(--view-transition-toolbar-cell-onscreen-scale));
      filter: none;
      opacity: 1;

      @starting-style {
        transform: scale(var(--view-transition-toolbar-cell-offscreen-scale));
        filter: blur(10px);
        opacity: 0;
      }
    }

    &.fwnn.fwn {
      transform: scale(var(--view-transition-toolbar-cell-offscreen-scale));
      filter: blur(10px);
      opacity: 0;
    }
  }
}
