@use '../vars';

@layer #{vars.$transitions-layer} {
  scroll-view {
    // Make sure old/outgoing elements can NOT be interacted with (new elements are already stacked higher)
    &.#{vars.$vt-fwd-class-name} {
      // view-transition-name: match-element;
      // view-transition-class: scroll-view;

      pointer-events: none;

      // transform: translateX(-70%);

      // @starting-style {
      // transform: translateX(0%);
      // }
    }

    &.fwdd {
      // view-transition-name: targeted-scroll-view;
      // view-transition-class: none;

      transform: translateX(var(--view-transition-principal-x));

      @starting-style {
        transform: translateX(var(--view-transition-trailing-x));
      }
    }

    &.fwdd.#{vars.$vt-fwd-class-name} {
      transform: translateX(var(--view-transition-leading-x));
    }

    // [is='sheet-view'] > &.fwdd {
    //   transform: translateY(0);

    //   @starting-style {
    //     transform: translateY(100lvh);
    //   }
    // }
  }

  // .fwd ~ [is='sheet-view']::backdrop {
  //   background-color: rgba(0, 0, 0, 0.5);

  //   @starting-style {
  //     background-color: rgba(0, 0, 0, 0);
  //   }
  // }

  // scroll-view.bwdd.fwd {
  //   transform: translateX(var(--view-transition-leading-x));
  // }
}
