@use '../vars';
@use '../mixins';

@layer #{vars.$transitions-layer} {
  @media (prefers-reduced-motion: no-preference) {
    progress-view {
      :where(&) {
        //
      }
    }
  }
  @keyframes progressViewCircular {
    0% {
      opacity: 0.85;
    }
    50% {
      opacity: 0.25;
    }
    100% {
      opacity: 0.25;
    }
  }
}
