@use '../vars';

@layer #{vars.$transitions-layer} {
  @media (prefers-reduced-motion: no-preference) {
    [is='tab-bar'] {
      > [is='form-view'] {
        :where(&) {
          transition: transform var(--sidebar-transition-duration) ease-out allow-discrete;
          will-change: transform;
        }
      }
    }
  }
}

@keyframes ipad_form_view_slide_up_offedge {
  to {
    opacity: 0;
  }
}
