@mixin takeover-button-slots {
  > [slot] {
    :where(&) {
      // take over NOTE: NO other propsm they break grids!! KISS pos+visibility+opacity
      position: absolute;

      visibility: collapse;
    }
  }
  > [slot='overlay'] {
    :where(&) {
      visibility: visible;
    }
  }
  &:not(:has(> :not([slot]))) > [slot='placeholder'] {
    :where(&) {
      position: relative;

      visibility: visible;
    }
  }

  &:has(> [slot='overlay']) {
    > *:not([slot='overlay']) {
      :where(&) {
        opacity: 0;
      }
    }

    > [slot='overlay'] {
      :where(&) {
        @media (prefers-reduced-motion: no-preference) {
          transition: opacity ease-out 200ms;
        }

        @starting-style {
          opacity: 0;
        }
      }
    }
  }
}
