@mixin reset-dialog {
  // :where(&) {
  // position: absolute;
  inset-inline: 0px;
  inset-block: 0px; //inset-inline-start: 0px;
  // width: fit-content;
  // height: fit-content;
  margin: 0px; //margin-top: auto;
  border: none; //border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;
  padding: 0px; //padding-top: 1em;
  background-color: transparent; //background-color: canvas;
  color: transparent; //color: canvastext;
  // display: none;

  // dialog:modal {
  // position: fixed;
  // overflow-x: auto;
  // overflow-y: auto;
  // inset-block-start: 0px;
  max-width: 100lvw; //max-width: calc(100% - 2em - 6px);
  max-height: 100lvh; //max-height: calc(100% - 2em - 6px);
  // visibility: visible;
  // }

  outline: none;

  &::backdrop {
    background-color: transparent;
  }
  // }
}

@mixin make-backdrop-transitionable {
  &::backdrop {
    @media (prefers-reduced-motion: no-preference) {
      transition:
        display var(--view-transition-duration) ease-out allow-discrete,
        overlay var(--view-transition-duration) ease-out allow-discrete,
        background-color var(--view-transition-duration) ease-out allow-discrete;
      will-change: background-color, overlay, display;
    }
  }
}

@mixin add-dialog-backdrop-transition-frames($new-background-color) {
  &::backdrop {
    background-color: $new-background-color;
  }
  // must be after above rule!
  @starting-style {
    &::backdrop {
      background-color: transparent;
    }
  }
}
