@use '../vars';
@use '../mixins';

@layer #{vars.$components-layer} {
  %bordered-prominent-btn {
    --component-padding-inline: 20px;
    --component-padding-block: 20px;
    --component-border-radius: 20px;
    --componentface: chocolate;
    --componenthighlightface: orange;
    --componentactiveface: darkred;
  }

  %bordered-prominent-btn {
    &:not(:disabled):not([readonly]) {
      :where(&) {
        @include mixins.add-focus-visible-state {
          --componentface: var(--componenthighlightface,);
        }
      }
    }
  }
}

@layer #{vars.$ui-layer} {
  %bordered-prominent-btn {
    @include mixins.add-active-state {
      --componentface: var(--componentactiveface,);
    }
  }
}
