@use "~inter-ui/default" with (
  $inter-font-display: swap,
  $inter-font-path: "~inter-ui/web"
);

@use "~inter-ui/variable" with (
  $inter-font-display: swap,
  $inter-font-path: "~inter-ui/variable"
);

@include default.all;
@include variable.all;

html {
  font-family: "Inter", "system-ui";
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "InterVariable", "system-ui";
  }
}

// [!code ++]
@use "@swiftwc/ui/scss/vars" with (
  $components-layer: web-components // [!code ++]
); // [!code ++]

@forward "@swiftwc/ui/scss"; // [!code ++]
